**JSON**

In [1]:
import os

In [2]:
os.chdir("C:\\Users\\olive\\Ciencia de datos")

In [3]:
import json

In [4]:
with open("subvenciones.json", encoding="utf-8") as fichero:
    df_json=json.load(fichero)

In [5]:
import pandas as pd

In [6]:
df_json_data = pd.DataFrame(df_json)

In [7]:
df_json_data.head()

             Asociación    Actividad Subvencionada Importe en euros
0  AMPA ANTONIO MACHADO  TALLER FIESTA DE CARNAVAL            94.56
1  AMPA ANTONIO MACHADO       TALLER DIA DEL PADRE           39.04
2  AMPA ANTONIO MACHADO     TALLER DIA DE LA MADRE           43.64
3  AMPA ANTONIO MACHADO        FIESTA FIN DE CURSO          921.00
4  AMPA ANTONIO MACHADO     CONCURSO LOGOTIPO AMPA           56.57

**SPSS**

In [ ]:
read_spss = pd.read_spss("distritos.sav")

In [ ]:
read_spss.head()

**STATA**

In [ ]:
df_stata = pd.read_stata("anes_timeseries_2012.dta")

In [ ]:
df_stata.head()

In [ ]:
len(df_stata)

**CSV**

In [ ]:
df_csv = pd.read_csv("subvenciones.csv", 
                     encoding="latin1")

In [ ]:
df_csv.head()

**Motores de bases de datos**

**Credenciales** proporcionadas por el **Administrador de bases de datos**

In [ ]:
#IP Servidor:69.164.192.245
#USUARIO: sdc_read
#Contraseña: #sDc_Read#21
#Nombre de la base de datos: alumno
#Nombre de la tabla: student.clientes

In [ ]:
import pyodbc #SQL Server
import psycopg2 #PostgreSQL
import pandas.io.sql #SQL

**Paso 1: conexión**

In [ ]:
conexion = pyodbc.connect("DRIVER={SQL Server}; SERVER=69.164.192.245; DATABASE=alumno; UID=sdc_read; PWD=#sDc_Read#21")

In [ ]:
consulta= pd.read_sql_query("SELECT * from student.clientes", conexion)
consulta.head()

**Paso 2: crear el objeto cursor**

In [ ]:
cursor = conexion.cursor()

**Paso 3: realizar la consulta SQL a la base de datos**

In [ ]:
cursor.execute("SELECT * from student.clientes")

**Paso 4: método de extracción**

In [ ]:
fila = cursor.fetchall()

fetchall(): método que permite extraer todas las filas de la tabla

**Paso 5: convertimos en DF las filas**

In [ ]:
import numpy as np

In [ ]:
df_sql = pd.DataFrame(np.array(fila))

In [ ]:
df_sql.head()

In [ ]:
consulta= pd.read_sql_query("SELECT * from student.clientes", conexion)
consulta.head()

**Nota**: una vez importa la tabla deben cerrar la conexión a la base datos para no consumir recursos de memoria.

In [ ]:
conexion.close()

**PostgreSQL**

In [ ]:
#IP Servidor:69.164.192.245
#USUARIO: postgres
#Contraseña: sdc2019PERU
#Nombre de la base de datos: alumno
#Nombre de la tabla: books

In [ ]:
conexion = psycopg2.connect("dbname=alumno user=postgres password=sdc2019PERU host=69.164.192.245")

In [ ]:
df_postgreSQL= pd.read_sql_query("SELECT * from books", conexion)
df_postgreSQL.head()

In [ ]:
conexion.close()

**Web Scrapping**

In [ ]:
import requests
import pandas as pd
import bs4
from bs4 import BeautifulSoup

In [ ]:
#pip install requests

In [ ]:
url = "https://www.buscalibre.pe/libros/search?q=Python+Web+Scraping"

In [ ]:
url = requests.get(url)

In [ ]:
url

In [ ]:
cod_html = BeautifulSoup(url.content,
                         "html.parser" )

In [ ]:
#print(cod_html)

**Estructuración**

In [ ]:
nombres = cod_html.find_all("h3",{"class":"nombre"})

In [ ]:
nombres_libros=[nombres[i].get_text() for i in range(0,len(nombres))]

In [ ]:
type(nombres_libros)

In [ ]:
precio = cod_html.find_all("p",{"class":"precio-ahora"})

In [ ]:
precios_libros=[precio[i].get_text() for i in range(0,len(precio))]

In [ ]:
type(precios_libros)

In [ ]:
dicc_libros = {"nombre de libros":nombres_libros,
              "precio de libros": precios_libros}

In [ ]:
df_libros = pd.DataFrame(dicc_libros)

In [ ]:
df_libros.head()