**API Twitter**

In [16]:
# recovering security info
consumer_key = 'Z99qwxrBAc3WqNKZB27M5GI7X'
consumer_secret = 'V8icVCyhO7E4gSukiXhnXQOAvk5RCW42Sl8z2qpz8GBCIkXOjL'
access_token = '174323243-2r6dZuiDtklyAJ8LLM4V02RTjV4VvRzaYxUOzy7b'
access_token_secret = 'hOdfqYSvTfeq7dU1Qx6AK2T9RLfhCNgqi433OCjjSUZzu'

In [17]:
import tweepy
from tweepy import OAuthHandler

In [18]:
auth = OAuthHandler(consumer_key,consumer_secret)

In [19]:
auth.set_access_token(access_token,access_token_secret)

In [20]:
api = tweepy.API(auth,
                parser=tweepy.parsers.JSONParser())

In [21]:
tweets = api.user_timeline(screen_name="williecolon",
                          count=100,
                          include_rts=True)

Unauthorized: 401 Unauthorized
32 - Could not authenticate you.

In [19]:
type(tweets)

list

In [20]:
type(tweets[0])

dict

In [23]:
tweets[0]

{'created_at': 'Sun Mar 26 13:52:06 +0000 2023',
 'id': 1639988602032603136,
 'id_str': '1639988602032603136',
 'text': 'Condenan adolescente a cadena perpetua https://t.co/DQXiJczPbF',
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 1639988597976711168,
    'id_str': '1639988597976711168',
    'indices': [39, 62],
    'media_url': 'http://pbs.twimg.com/media/FsJo8NoXwAA7dL2.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/FsJo8NoXwAA7dL2.jpg',
    'url': 'https://t.co/DQXiJczPbF',
    'display_url': 'pic.twitter.com/DQXiJczPbF',
    'expanded_url': 'https://twitter.com/williecolon/status/1639988602032603136/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 1050, 'h': 1200, 'resize': 'fit'},
     'large': {'w': 1284, 'h': 1467, 'resize': 'fit'},
     'small': {'w': 595, 'h': 680, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 1639988597976711168,
    'id_str': '1639988597976711168',
    'indices': [39, 62],
    'media_url': 'http://pbs.twimg.com/media/FsJo8NoXwAA7dL2.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/FsJo8NoXwAA7dL2.jpg',
    'url': 'https://t.co/DQXiJczPbF',
    'display_url': 'pic.twitter.com/DQXiJczPbF',
    'expanded_url': 'https://twitter.com/williecolon/status/1639988602032603136/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 1050, 'h': 1200, 'resize': 'fit'},
     'large': {'w': 1284, 'h': 1467, 'resize': 'fit'},
     'small': {'w': 595, 'h': 680, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 46919513,
  'id_str': '46919513',
  'name': 'Willie Colón',
  'screen_name': 'williecolon',
  'location': 'Bronx, NY',
  'description': 'FB: @thewilliecolon @williecolononline. IG &  Parler: @realwilliecolon MeWe: @realwilliecolon Anti-Marxist Anti-Communist Anti-Woke',
  'url': None,
  'entities': {'description': {'urls': []}},
  'protected': False,
  'followers_count': 2004043,
  'friends_count': 10129,
  'listed_count': 4197,
  'created_at': 'Sat Jun 13 16:54:17 +0000 2009',
  'favourites_count': 60024,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': True,
  'statuses_count': 74849,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '100700',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1496692150301569036/2JkjQTWt_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1496692150301569036/2JkjQTWt_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/46919513/1674082684',
  'profile_link_color': 'DEA913',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': 'F9C926',
  'profile_text_color': '5A694C',
  'profile_use_background_image': True,
  'has_extended_profile': True,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'regular',
  'withheld_in_countries': []},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 11,
 'favorite_count': 59,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'es'}

In [22]:
tweets[0].keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'extended_entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'lang'])

In [ ]:
#created_at: fecha de creación
#text: texto del tweet
#retweet_count: número de veces compartido
#favorite_count: número de me gusta

In [25]:
import pandas as pd

In [26]:
data_tweets=pd.DataFrame({"created_at":[t["created_at"] for t in tweets],
"text":[t["text"] for t in tweets],
"retweet_count":[t["retweet_count"] for t in tweets],
"favorite_count":[t["favorite_count"] for t in tweets]})

In [27]:
data_tweets.head()

,created_at,text,retweet_count,favorite_count
0,Sun Mar 26 13:52:06 +0000 2023,Condenan adolescente a cadena perpetua https:/...,11,59
1,Sun Mar 26 03:51:50 +0000 2023,@Arekuxis @EstadistasC do a search on the Wash...,0,0
2,Sat Mar 25 20:53:50 +0000 2023,ATENCIÓN \nLa Iglesia Católica informa que a p...,364,1881
3,Sat Mar 25 20:08:27 +0000 2023,@FoxNews She can always go back to Nicaragua,6,56
4,Sat Mar 25 18:20:07 +0000 2023,RT @LcdoCorona: Hay q romper con la propaganda...,72,0

In [28]:
data_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   created_at      100 non-null    object
 1   text            100 non-null    object
 2   retweet_count   100 non-null    int64
 3   favorite_count  100 non-null    int64
dtypes: int64(2), object(2)
memory usage: 3.2+ KB

**API Facebook**

In [ ]:
!pip install facebook-sdk

In [29]:
import facebook
import pandas as pd

In [ ]:
token_face=""

In [ ]:
token_dec = token_face
version_api = '2.9' 
page_id = '522721131191656'
page_name = 'SDC Learning'
graph=facebook.GraphAPI(access_token=token_dec, 
                        version=version_api)

posts = graph.get_connections(page_id,
                             "posts")

In [ ]:
posts = posts["data"]
post_df=pd.DataFrame(posts,
                    columns=["mensaje","creacion","ID"])

**Entendimiento de datos**

- tipo de dato
- problema en el dato

In [30]:
import pandas as pd
mark=pd.read_csv("D:/Python/1. Nivel I/5/datos/MarketingDirecto.csv",sep=",")

In [31]:
mark.head()

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,Adulta,Femenino,Propia,Soltero,Lejos,47500,0,Alto,6,755
1,Media,Masculino,Alquilada,Soltero,Cerca,63600,0,Alto,6,1318
2,Joven,Femenino,Alquilada,Soltero,Cerca,13500,0,Bajo,18,296
3,Media,Masculino,Propia,Casado,Cerca,85600,1,Alto,18,2436
4,Media,Femenino,Propia,Soltero,Cerca,68400,0,Alto,12,1304

**Codificación**

In [33]:
from collections import defaultdict #crea por defecto diccionario
from sklearn.preprocessing import LabelEncoder #codificación 
import numpy as np

In [34]:
d= defaultdict(LabelEncoder)

In [38]:
mark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Edad       1000 non-null   object
 1   Genero     1000 non-null   object
 2   Vivienda   1000 non-null   object
 3   Ecivil     1000 non-null   object
 4   Ubicacion  1000 non-null   object
 5   Salario    1000 non-null   int64
 6   Hijos      1000 non-null   int64
 7   Historial  697 non-null    object
 8   Catalogos  1000 non-null   int64
 9   Monto      1000 non-null   int64
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [43]:
objeto_list=list(mark.columns.to_series().groupby(mark.dtypes).groups[np.dtype("object")])

In [45]:
print(objeto_list) #estas son las variables que voy a codificar

['Edad', 'Genero', 'Vivienda', 'Ecivil', 'Ubicacion', 'Historial']

**Codificación de mark**

In [50]:
mark_v2 = mark.apply(lambda x:d[x.name].fit_transform(x) if x.name in objeto_list else x)

In [56]:
mark_v2.head(n=3)

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,0,0,1,1,1,47500,0,0,6,755
1,2,1,0,1,0,63600,0,0,6,1318
2,1,0,0,1,0,13500,0,1,18,296

In [ ]:
#femenino = 0
#masculino = 1

In [ ]:
##################################################################################

In [52]:
fit = mark.apply(lambda x:d[x.name].fit(x) if x.name in objeto_list else x)

In [53]:
mark_transform = mark.apply(lambda x:d[x.name].transform(x) if x.name in objeto_list else x)

In [55]:
mark_transform.head(n=3)

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,0,0,1,1,1,47500,0,0,6,755
1,2,1,0,1,0,63600,0,0,6,1318
2,1,0,0,1,0,13500,0,1,18,296

In [ ]:
#femenino = 0
#masculino = 1

- fit(): aprendizaje
- fit_transform(): aprendizaje + transformación
- transform(): transformación

In [60]:
edad = list(d["Edad"].classes_)

In [58]:
d["Edad"].classes_

array(['Adulta', 'Joven', 'Media'], dtype=object)

In [61]:
codigo=d["Edad"].transform(d["Edad"].classes_)

In [ ]:
########################################################
#Diccionario de la variable edad

In [63]:
pd.DataFrame({"Edad":edad,"Código":codigo})

     Edad  Código
0  Adulta       0
1   Joven       1
2   Media       2

**Particionamiento de los datos**

- train: datos que son proporcionados para que algoritmo (modeloe ML) desarrolle un proceso de aprendizaje
- test: evaluar su proceso de aprendizaje

In [65]:
mark_v2.head(n=3)

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,0,0,1,1,1,47500,0,0,6,755
1,2,1,0,1,0,63600,0,0,6,1318
2,1,0,0,1,0,13500,0,1,18,296

In [64]:
from sklearn.model_selection import train_test_split

In [66]:
x = mark_v2.iloc[:,0:9].values
y = mark_v2.iloc[:,9].values

In [67]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.3,
                                                    random_state=0)#semilla

**Nota**: 10% al 30% de los datos se suelen utilizar para testear el modelo

**Imputación**

In [68]:
import pandas as pd

In [69]:
mark = pd.read_csv("D:/Python/1. Nivel I/6/datos/MarketingDirecto_2.csv",
                  sep=";")

In [72]:
mark.head(n=5)

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,Adulta,Femenino,Propia,Soltero,Lejos,47500,0,Alto,6,755.0
1,Media,Masculino,Alquilada,Soltero,Cerca,63600,0,Alto,6,1318.0
2,Joven,Femenino,Alquilada,Soltero,Cerca,13500,0,Bajo,18,296.0
3,Media,Masculino,Propia,Casado,Cerca,85600,1,Alto,18,2436.0
4,Media,Femenino,Propia,Soltero,Cerca,68400,0,Alto,12,NaN

In [77]:
mark.iloc[0:100,0:5].isnull().sum()/len(mark)*100

Edad         0.0
Genero       0.0
Vivienda     0.0
Ecivil       0.0
Ubicacion    0.0
dtype: float64

**Nivel de perdida de información**

- 0.1% a 1% valores faltantes: perdida es trivial (insignificante).
- 1% a 5% valores faltantes: requieren de una técnica para recuperar información (media, moda, mediana, vecinos más cercanos).
- 5% a 30% valores faltantes: requieren de modelos más sofisticados (modelos de ML) para recuperar la información.