In [23]:
import numpy as np
import pandas as pd
import os

In [24]:
os.getcwd()

'C:\\Users\\olive\\DataScience'

In [25]:
# os.listdir("C:\\Users\\olive\\DataScience")

In [26]:
df = pd.read_csv('DATA_FUGA.csv')

In [27]:
df.head()

,CODMES,TARGET_MODEL2,EDAD,SEXO,DEPARTAMENTO,INGRESO_BRUTO_M1,FLG_CLIENTE,SEGMENTO,FLG_ADEL_SUELDO_M1,FREC_AGENTE,FLG_VEH_SF,FLG_CONV_SF,FREC_KIOSKO,FREC_BPI_TD,FREC_MON_TD,PROM_CTD_TRX_6M,ANT_CLIENTE,REC_AGENTE_TD,CTD_RECLAMOS_M1
0,201411,0,46,F,PIURA,NaN,NO CLIENTE,2,0,0,0.0,0.0,0,0,0,0.0,224.0,NaN,0
1,201411,0,54,M,LORETO,4718.0,CLIENTE,1BC,0,0,0.0,1.0,0,0,0,0.0,123.0,NaN,0
2,201411,0,81,M,NaN,NaN,CLIENTE,6,0,0,NaN,NaN,0,0,0,0.0,264.0,NaN,0
3,201411,0,42,M,PIURA,936.0,CLIENTE,2,0,0,NaN,NaN,0,0,0,0.0,263.0,NaN,0
4,201411,0,52,M,MOQUEGUA,5844.0,CLIENTE,1BC,0,0,NaN,NaN,0,0,0,0.0,263.0,NaN,0

In [28]:
# Detalle del dataframe
#df.info()

In [29]:
#print(df.index)

In [30]:
# Número de filas y núnero de columnas del dataframe.
totalFilas = df.shape[0]
print(f'Total filas:  {totalFilas}' )

Total filas:  787495

In [32]:
valores = df.isnull().sum()
valores = valores / totalFilas * 100
print(f'Total valores:" {valores}')

Total valores:" CODMES                 0.000000
TARGET_MODEL2          0.000000
EDAD                   0.000000
SEXO                   0.000000
DEPARTAMENTO           3.425419
INGRESO_BRUTO_M1      23.778437
FLG_CLIENTE            0.000000
SEGMENTO               0.000000
FLG_ADEL_SUELDO_M1     0.000000
FREC_AGENTE            0.000000
FLG_VEH_SF            34.207582
FLG_CONV_SF           34.207582
FREC_KIOSKO            0.000000
FREC_BPI_TD            0.000000
FREC_MON_TD            0.000000
PROM_CTD_TRX_6M        0.000000
ANT_CLIENTE            0.117207
REC_AGENTE_TD         88.280687
CTD_RECLAMOS_M1        0.000000
dtype: float64

In [33]:
valores = valoresNull[valoresNull > 30].keys()
valores

Index(['FLG_VEH_SF', 'FLG_CONV_SF', 'REC_AGENTE_TD'], dtype='object')

# Segunda pregunta

In [65]:
from collections import defaultdict #crea por defecto diccionario
from sklearn.preprocessing import LabelEncoder #codificación 
import numpy as np

In [35]:
df = df.drop(columns= 'REC_AGENTE_TD')

In [47]:
df.head()

,CODMES,TARGET_MODEL2,EDAD,SEXO,DEPARTAMENTO,INGRESO_BRUTO_M1,FLG_CLIENTE,SEGMENTO,FLG_ADEL_SUELDO_M1,FREC_AGENTE,FLG_VEH_SF,FLG_CONV_SF,FREC_KIOSKO,FREC_BPI_TD,FREC_MON_TD,PROM_CTD_TRX_6M,ANT_CLIENTE,CTD_RECLAMOS_M1
0,201411,0,46,F,PIURA,NaN,NO CLIENTE,2,0,0,0.0,0.0,0,0,0,0.0,224.0,0
1,201411,0,54,M,LORETO,4718.0,CLIENTE,1BC,0,0,0.0,1.0,0,0,0,0.0,123.0,0
2,201411,0,81,M,NaN,NaN,CLIENTE,6,0,0,NaN,NaN,0,0,0,0.0,264.0,0
3,201411,0,42,M,PIURA,936.0,CLIENTE,2,0,0,NaN,NaN,0,0,0,0.0,263.0,0
4,201411,0,52,M,MOQUEGUA,5844.0,CLIENTE,1BC,0,0,NaN,NaN,0,0,0,0.0,263.0,0

In [66]:
d= defaultdict(LabelEncoder)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787495 entries, 0 to 787494
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CODMES              787495 non-null  int64
 1   TARGET_MODEL2       787495 non-null  int64
 2   EDAD                787495 non-null  int64
 3   SEXO                787495 non-null  object
 4   DEPARTAMENTO        760520 non-null  object
 5   INGRESO_BRUTO_M1    600241 non-null  float64
 6   FLG_CLIENTE         787495 non-null  object
 7   SEGMENTO            787495 non-null  object
 8   FLG_ADEL_SUELDO_M1  787495 non-null  int64
 9   FREC_AGENTE         787495 non-null  int64
 10  FLG_VEH_SF          518112 non-null  float64
 11  FLG_CONV_SF         518112 non-null  float64
 12  FREC_KIOSKO         787495 non-null  int64
 13  FREC_BPI_TD         787495 non-null  int64
 14  FREC_MON_TD         787495 non-null  int64
 15  PROM_CTD_TRX_6M     787495 non-null  float64
 16  ANT_CLIENTE         786572 non-null  float64
 17  CTD_RECLAMOS_M1     787495 non-null  int64
dtypes: float64(5), int64(9), object(4)
memory usage: 108.1+ MB

In [46]:
from sklearn.model_selection import train_test_split

In [50]:
objeto_list=list(df.columns.to_series().groupby(df.dtypes).groups[np.dtype("object")])
objeto_list

['SEXO', 'DEPARTAMENTO', 'FLG_CLIENTE', 'SEGMENTO']

In [63]:
# Variables a codificar
list(df.columns.to_series().groupby(df.dtypes).groups[np.dtype("object")])

['SEXO', 'DEPARTAMENTO', 'FLG_CLIENTE', 'SEGMENTO']

### Codificar variables categóricas en variables numéricas.

***Codificación Data Frame***

In [67]:
df_v2 = df.apply(lambda x:d[x.name].fit_transform(x) if x.name in objeto_list else x)

In [68]:
df_v2.head(n=3)

,CODMES,TARGET_MODEL2,EDAD,SEXO,DEPARTAMENTO,INGRESO_BRUTO_M1,FLG_CLIENTE,SEGMENTO,FLG_ADEL_SUELDO_M1,FREC_AGENTE,FLG_VEH_SF,FLG_CONV_SF,FREC_KIOSKO,FREC_BPI_TD,FREC_MON_TD,PROM_CTD_TRX_6M,ANT_CLIENTE,CTD_RECLAMOS_M1
0,201411,0,46,0,19,NaN,1,3,0,0,0.0,0.0,0,0,0,0.0,224.0,0
1,201411,0,54,1,15,4718.0,0,2,0,0,0.0,1.0,0,0,0,0.0,123.0,0
2,201411,0,81,1,25,NaN,0,7,0,0,NaN,NaN,0,0,0,0.0,264.0,0