**API Twitter**

In [52]:
# recovering security info
consumer_key = 'diJhtpiDzWw8wysPgrP6TJRvZ'
consumer_secret = 'RzmkvR0gbweGATiLn70PaCUzjXLw9tUzDAvsaLWofkE0qfPZtW'
access_token = '174323243-2r6dZuiDtklyAJ8LLM4V02RTjV4VvRzaYxUOzy7b'
access_token_secret = 'hOdfqYSvTfeq7dU1Qx6AK2T9RLfhCNgqi433OCjjSUZzu'

In [53]:
import tweepy
from tweepy import OAuthHandler

In [54]:
auth = OAuthHandler(consumer_key,consumer_secret)

In [55]:
auth.set_access_token(access_token,access_token_secret)

In [56]:
api = tweepy.API(auth,
                parser=tweepy.parsers.JSONParser())

In [57]:
tweets = api.user_timeline(screen_name="williecolon",
                          count=100,
                          include_rts=True)

In [58]:
type(tweets)

list

In [59]:
type(tweets[0])

dict

In [60]:
tweets[0]

{'created_at': 'Sat Apr 29 20:59:08 +0000 2023',
 'id': 1652417254242373633,
 'id_str': '1652417254242373633',
 'text': '@GBayter @amilcarboscan SUERTE',
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [{'screen_name': 'GBayter',
    'name': 'Old Man',
    'id': 1488790699793428484,
    'id_str': '1488790699793428484',
    'indices': [0, 8]},
   {'screen_name': 'amilcarboscan',
    'name': 'Amilcar Boscan',
    'id': 78681277,
    'id_str': '78681277',
    'indices': [9, 23]}],
  'urls': []},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': 1652044498845704194,
 'in_reply_to_status_id_str': '1652044498845704194',
 'in_reply_to_user_id': 1488790699793428484,
 'in_reply_to_user_id_str': '1488790699793428484',
 'in_reply_to_screen_name': 'GBayter',
 'user': {'id': 46919513,
  'id_str': '46919513',
  'name': 'Willie Colón',
  'screen_name': 'williecolon',
  'location': 'Bronx, NY',
  'description': 'FB: @thewilliecolon @williecolononline. IG &  Parler: @realwilliecolon MeWe: @realwilliecolon Anti-Marxist Anti-Communist Anti-Woke',
  'url': None,
  'entities': {'description': {'urls': []}},
  'protected': False,
  'followers_count': 2002560,
  'friends_count': 10104,
  'listed_count': 4190,
  'created_at': 'Sat Jun 13 16:54:17 +0000 2009',
  'favourites_count': 64924,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': False,
  'statuses_count': 75184,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '100700',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1496692150301569036/2JkjQTWt_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1496692150301569036/2JkjQTWt_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/46919513/1674082684',
  'profile_link_color': 'DEA913',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': 'F9C926',
  'profile_text_color': '5A694C',
  'profile_use_background_image': True,
  'has_extended_profile': True,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'regular',
  'withheld_in_countries': []},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 0,
 'favorite_count': 0,
 'favorited': False,
 'retweeted': False,
 'lang': 'es'}

In [61]:
tweets[0].keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'lang'])

In [62]:
#created_at: fecha de creación
#text: texto del tweet
#retweet_count: número de veces compartido
#favorite_count: número de me gusta

In [63]:
import pandas as pd

In [64]:
data_tweets=pd.DataFrame({"created_at":[t["created_at"] for t in tweets],
"text":[t["text"] for t in tweets],
"retweet_count":[t["retweet_count"] for t in tweets],
"favorite_count":[t["favorite_count"] for t in tweets]})

In [65]:
data_tweets.head()

,created_at,text,retweet_count,favorite_count
0,Sat Apr 29 20:59:08 +0000 2023,@GBayter @amilcarboscan SUERTE,0,0
1,Sat Apr 29 20:50:06 +0000 2023,RT @OliLondonTV: Wonder what is making them so...,145,0
2,Sat Apr 29 20:49:18 +0000 2023,RT @OliLondonTV: Would you want this man to re...,826,0
3,Sat Apr 29 16:48:36 +0000 2023,RT @OliLondonTV: There is bad parenting and th...,147,0
4,Sat Apr 29 16:47:26 +0000 2023,RT @OliLondonTV: When they tell you Drag Shows...,336,0

In [66]:
data_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   created_at      99 non-null     object
 1   text            99 non-null     object
 2   retweet_count   99 non-null     int64
 3   favorite_count  99 non-null     int64
dtypes: int64(2), object(2)
memory usage: 3.2+ KB

**API Facebook**

In [67]:
!pip install facebook-sdk

Requirement already satisfied: facebook-sdk in c:\users\olive\appdata\roaming\python\python310\site-packages (3.1.0)
Requirement already satisfied: requests in c:\users\olive\appdata\roaming\python\python310\site-packages (from facebook-sdk) (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\olive\appdata\roaming\python\python310\site-packages (from requests->facebook-sdk) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\olive\appdata\roaming\python\python310\site-packages (from requests->facebook-sdk) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\olive\appdata\roaming\python\python310\site-packages (from requests->facebook-sdk) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\olive\appdata\roaming\python\python310\site-packages (from requests->facebook-sdk) (2022.12.7)

[notice] A new release of pip is available: 23.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [68]:
import facebook
import pandas as pd

In [69]:
token_face=""

In [70]:
token_dec = token_face
version_api = '2.9' 
page_id = '522721131191656'
page_name = 'SDC Learning'
graph=facebook.GraphAPI(access_token=token_dec, 
                        version=version_api)

posts = graph.get_connections(page_id,
                             "posts")

GraphAPIError: (#200) Provide valid app ID

In [ ]:
posts = posts["data"]
post_df=pd.DataFrame(posts,
                    columns=["mensaje","creacion","ID"])

**Entendimiento de datos**

- tipo de dato
- problema en el dato

In [2]:
import pandas as pd
mark=pd.read_csv(r'C:\Users\olive\Documents\DataScience\ficheros-clase\MarketingDirecto.csv',sep=";")

In [3]:
mark.head()

  Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0  Adulta,Femenino,Propia,Soltero,Lejos,47500,0,A...
1  Media,Masculino,Alquilada,Soltero,Cerca,63600,...
2  Joven,Femenino,Alquilada,Soltero,Cerca,13500,0...
3  Media,Masculino,Propia,Casado,Cerca,85600,1,Al...
4  Media,Femenino,Propia,Soltero,Cerca,68400,0,Al...

**Codificación**

In [4]:
from collections import defaultdict #crea por defecto diccionario
from sklearn.preprocessing import LabelEncoder #codificación 
import numpy as np

In [5]:
d= defaultdict(LabelEncoder)

In [6]:
mark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [101]:
objeto_list=list(mark.columns.to_series().groupby(mark.dtypes).groups[np.dtype("object")])

In [102]:
print(objeto_list) #estas son las variables que voy a codificar

['Edad', 'Genero', 'Vivienda', 'Ecivil', 'Ubicacion', 'Historial']

**Codificación de mark**

In [103]:
mark_v2 = mark.apply(lambda x:d[x.name].fit_transform(x) if x.name in objeto_list else x)

In [104]:
mark_v2.head(n=3)

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,0,0,1,1,1,47500,0,0,6,755.0
1,2,1,0,1,0,63600,0,0,6,1318.0
2,1,0,0,1,0,13500,0,1,18,296.0

In [105]:
#femenino = 0
#masculino = 1

In [106]:
##################################################################################

In [107]:
# Solo entrena al modelo pero no lo codifica
fit = mark.apply(lambda x:d[x.name].fit(x) if x.name in objeto_list else x)

In [108]:
#Codifica luego de ser entrenado
mark_transform = mark.apply(lambda x:d[x.name].transform(x) if x.name in objeto_list else x)

In [109]:
mark_transform.head(n=3)

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,0,0,1,1,1,47500,0,0,6,755.0
1,2,1,0,1,0,63600,0,0,6,1318.0
2,1,0,0,1,0,13500,0,1,18,296.0

In [110]:
#femenino = 0
#masculino = 1

- fit(): aprendizaje
- fit_transform(): aprendizaje + transformación
- transform(): transformación

In [111]:
edad = list(d["Edad"].classes_)

In [112]:
d["Edad"].classes_

array(['Adulta', 'Joven', 'Media'], dtype=object)

In [113]:
codigo=d["Edad"].transform(d["Edad"].classes_)

In [114]:
########################################################
#Diccionario de la variable edad

In [115]:
pd.DataFrame({"Edad":edad,"Código":codigo})

     Edad  Código
0  Adulta       0
1   Joven       1
2   Media       2

**Particionamiento de los datos**

- train: datos que son proporcionados para que algoritmo (modeloe ML) desarrolle un proceso de aprendizaje
- test: evaluar su proceso de aprendizaje

In [126]:
mark_v2.head(n=10)

,Edad,Genero,Vivienda,Ecivil,Ubicacion,Salario,Hijos,Historial,Catalogos,Monto
0,0,0,1,1,1,47500,0,0,6,755.0
1,2,1,0,1,0,63600,0,0,6,1318.0
2,1,0,0,1,0,13500,0,1,18,296.0
3,2,1,1,0,0,85600,1,0,18,2436.0
4,2,0,1,1,0,68400,0,0,12,NaN
5,1,1,1,0,0,30400,0,1,6,495.0
6,2,0,0,1,0,48100,0,2,12,782.0
7,2,1,1,1,0,68400,0,0,18,1155.0
8,2,0,1,0,0,51900,3,1,6,158.0
9,0,1,1,0,1,80700,0,3,18,3034.0

In [64]:
from sklearn.model_selection import train_test_split

In [122]:
x = mark_v2.iloc[:,0:9].values
y = mark_v2.iloc[:,9].values
y

array([ 755., 1318.,  296., 2436.,   nan,  495.,  782., 1155.,  158.,
       3034.,  927., 2065.,  704., 2136., 5564.,   nan, 3010., 1956.,
        542.,  410.,  194.,  827., 2328.,  808.,  521.,  655.,  707.,
       2075.,  769.,  774.,  573., 2082., 2446., 2636., 2226.,  183.,
       1595.,  584.,  982.,  576.,  410., 3082., 2437., 3655.,  844.,
       2510.,  983., 1215., 2000., 2574., 1116., 3604., 3360.,  530.,
        906., 2764., 1263., 1084., 1051.,  614.,  704.,  449.,  136.,
        468.,  565., 1310., 2595.,  358., 1424., 4182.,  468., 2924.,
        964.,  615.,   38., 1006.,  307., 1648.,  220.,  280., 1647.,
        704.,  920.,  258., 1821., 1587.,  528.,  867.,  643.,  107.,
       1513., 4558.,  741.,  805.,  470.,  278., 1093.,  470., 1856.,
       1688.,  708., 1753., 3044.,  855.,  550., 2265., 2452., 1184.,
       2150., 1575., 1822., 1153., 1877.,  450.,  873.,  209., 1472.,
       1702., 1857.,  451.,  344., 1492., 2098., 3505.,  127.,  436.,
       2524.,  189.,  607.,  202., 1554.,  633.,   nan, 3079., 2038.,
       1203.,  326.,   nan, 3688.,  332.,  143., 3104.,   nan,  123.,
        879.,  498., 3596., 2925.,   nan,  312., 1297.,  218., 4279.,
       1642.,  581.,  223.,  474., 1790.,  143., 3237., 2316.,  458.,
        646., 1217.,  238., 1293., 2749., 2408., 2624., 4894.,  621.,
        701.,  780., 1365., 2693., 1582.,  724.,  830., 1594., 1826.,
        473., 1161.,  703., 1892.,  489., 1813., 1457.,  292.,  613.,
       2681.,  437.,  708., 1093.,  213.,  202., 1298., 3273., 1790.,
        247.,  183., 3491., 1985., 1721., 2104.,  252.,  202.,  962.,
        459.,  848.,  161., 1857., 1699.,  308.,  500., 1162., 2551.,
       5830.,  381.,  856., 1720.,  759., 3305., 1257., 1583., 1102.,
        186.,  229., 2599.,  774.,  638.,  378., 1552.,  979., 2479.,
        450., 2763., 1560., 1037.,  690.,  770.,  643., 1512., 1485.,
        570., 1165., 1926., 2243.,  342., 1654.,  363.,  222.,  677.,
        482.,  385., 1443., 1789.,  991.,  536., 2183.,  494.,  503.,
         87.,  917., 1976.,  316., 1634., 2035., 3293.,  143.,  635.,
        979., 1838.,  264.,  719., 1308., 3378.,  400.,  847.,  357.,
       1276., 2492., 1512.,  870.,  938., 1584., 1148., 2840.,  827.,
        428.,  183.,  818.,  731., 2163., 1081., 1085., 1212., 1422.,
       2238., 1615.,  713.,  607.,  735.,  139., 1357.,  858.,  408.,
       1553., 2070.,  922., 2502.,  426., 2321.,  862., 2555., 1186.,
       2842.,  886., 1420.,  821.,  242.,  472., 1231.,  881.,  435.,
        108.,  576., 1314.,  296.,  584., 1156., 2464.,  915., 2091.,
       1690., 1274., 1012.,  950.,  333.,  679.,  607., 3398.,  859.,
       2444., 1078., 2537.,  616.,  508.,  297., 1583.,   79.,  657.,
       2149., 3632., 2230.,  448.,  301., 1968.,  490., 3063.,  193.,
        544., 2666., 1846., 1255., 1081.,  199., 3916.,  357.,  983.,
       1194., 2224.,   90.,  587., 1088.,  617., 1227.,  662.,  622.,
       1477.,  236., 1830., 1583.,  610.,  193., 1052.,  307., 3671.,
       2206.,  748., 1481., 1607.,  632.,  303.,  264., 1575.,  881.,
       1439.,  452.,   93.,  292., 1426.,  330., 3120., 5151., 3941.,
       2141.,  106.,  530.,  500., 2837., 1246.,  798., 1544., 2644.,
        192.,  865., 1159., 1480., 1426., 3048.,  276., 1910.,  157.,
        236.,  576.,  794., 1474.,  250.,  788., 1694., 1985., 1252.,
        827.,  314.,  880.,  466.,  210.,  902., 1274., 1631., 1220.,
        801., 1090., 1699.,  273.,  523., 1437., 1888.,  476., 2632.,
        326.,  446., 1071., 1699.,  966.,  567., 1658.,  173., 3344.,
       1029.,  345.,  712., 1841.,  409., 2710.,  592., 2101., 1473.,
        715., 2233.,  921.,  216., 1781.,  418.,  268., 1252.,  140.,
        992., 1388.,  233., 2304., 2177., 1127.,  721.,  438.,  393.,
       1666., 2448., 2563., 1763.,  184.,  166., 1014., 1140., 1021.,
       1431., 5878.,  321., 1974., 1640., 1175.,  364.,  417., 1060.,
       2176.,  200.,  513.,  857.,  224.,  371.,  687.,  809., 2090.,
       1479.,  534., 1172.,  968.,  753.,  242.,  515., 2119.,  491.,
        286., 3069.,  281., 1608.,  736.,  170.,  245., 3052., 1786.,
         47., 1645.,  274., 1001., 1944., 2585.,  260., 1414.,  341.,
        268., 1237.,  589.,  368.,  940.,  232.,  678.,  324.,  147.,
        694.,  526.,  586.,  491., 1436., 1280., 2107.,  860., 1624.,
        230.,  164.,  157.,   62.,  223.,  438., 2705.,  371.,  201.,
       1213.,  586., 2693., 1404., 2784.,  275.,  794.,  964., 1598.,
       2838.,  619.,  392., 1850., 1506., 3126., 1325., 1541., 2491.,
       1177., 1487.,  322.,  647., 1322., 1534.,  583., 1705.,  191.,
        239.,  568.,  571.,  919., 1398., 1025.,  909.,  209.,  245.,
       2362., 3380.,  424., 1272., 1909.,  340., 1355.,  472.,  303.,
       1079.,  981.,  160.,  613.,  662.,  177.,  785.,  349.,  213.,
       1578.,  258.,  192.,  289., 1821.,  905.,  188., 1405., 2381.,
        184., 1364.,  414.,  387.,  504.,  574.,  984., 5209.,  422.,
       1594., 1087.,  163.,  427.,  624.,  788.,  414., 3001.,  863.,
       1517.,  836., 1152., 1408., 1082., 1162.,  358.,  304.,  360.,
       1162.,  348.,  206.,  114.,  932.,  446., 2466.,  576.,  428.,
       2247.,  716., 1017.,  613.,  580.,  841.,  737., 1162.,  895.,
        205., 2340.,  630.,  407., 2122.,  227., 1149.,  669., 2935.,
       1444., 1384., 1557.,  802., 1611., 2047., 1175., 1011., 1062.,
        271., 2690.,  918., 2438., 1307., 1185.,  180., 1198., 1001.,
       1355.,  989., 1803., 2840., 1909.,  247.,  814.,  216.,  365.,
        163.,  933.,  654.,  153., 1668., 1009., 1659., 1905.,  521.,
        826., 2610., 1194., 1181.,  362.,  768.,  381., 1811., 1218.,
       1413., 1748.,  639., 1582.,  376., 1757.,  105., 2631.,  486.,
        412.,  716.,  653.,  224.,  705., 4984.,  197., 2450., 2561.,
        563.,  546., 3384.,  416.,  685., 1931.,  573., 1553.,  362.,
        907.,  445., 1342.,  457., 1598., 1861., 4109., 3278.,  421.,
        275., 1475., 1779., 1634., 1500., 1348.,  962.,  328.,  747.,
       1713., 1006., 2523., 2458.,  742., 1639.,  843.,  886., 2746.,
        550., 2098.,  954., 1041.,  535., 1369., 2545.,  329., 1351.,
        582.,  578.,  195.,  777.,   nan,   nan,   nan, 3168.,  699.,
       2034., 1457.,   nan,   nan, 2844.,  225.,  210.,   43.,  243.,
       1120.,  975., 2904.,  927., 3167.,  241.,   65.,  858., 2191.,
       1946., 2581.,  172.,  824.,  556.,  167., 2104., 1332.,   nan,
         nan, 3442., 1893.,  690.,  486., 2290.,  934.,  517., 2216.,
       1521., 1523., 1364.,  952.,  871.,  295.,  642.,  317., 1078.,
        961., 1241., 1999.,  571.,  329., 1984., 1061., 1955.,  580.,
        883., 1195., 2318.,  640., 2644., 1320.,  502., 2419.,  661.,
       2723., 1588.,  581., 1432.,  929.,  212., 2546., 1344.,  947.,
       2145.,  757.,  451., 2975.,  406.,  158.,  534.,  401., 1753.,
        659.,  726., 1166., 1197.,  411., 2258., 1913.,  893.,  421.,
       1138., 1804., 1418., 1104., 2796., 1403., 3230., 1352., 2004.,
        403., 3995.,  390.,  770.,  963.,  833.,  869.,  926., 3780.,
       1023.,  791., 1473., 1597., 1150.,  304., 1693.,  269., 1430.,
       2729., 1760., 1271.,  356., 1024.,  524., 1211.,  636.,  645.,
        472., 1512., 1634.,  182., 1042., 1714.,  966.,  829.,  680.,
        636.,  182., 1773., 2902.,  348.,  548., 2034., 2296.,  395.,
        850.,  512., 1622.,  865.,  673.,  422.,  529., 1932., 1853.,
       1224.,  666., 1685., 1476.,  319.,  232., 1543.,  506.,  172.,
       1001.,  606.,  591., 1389., 2177., 2279., 2702.,  510., 1047.,
        538., 1546.,  754., 1504., 1849., 3072., 1046., 1800.,  700.,
        514.,  320., 1692., 2057., 2299., 1507., 6217.,  405., 3785.,
       3537.,  540.,  941., 5503.,  273.,  384., 1073., 1417.,  671.,
        973.])

In [127]:
#mark_v2.iloc[:,0:9]
mark_v2.iloc[:,9]

0       755.0
1      1318.0
2       296.0
3      2436.0
4         NaN
        ...
995     384.0
996    1073.0
997    1417.0
998     671.0
999     973.0
Name: Monto, Length: 1000, dtype: float64

In [67]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.3,
                                                    random_state=0)#semilla

**Nota**: 10% al 30% de los datos se suelen utilizar para testear el modelo

**Imputación**

In [88]:
import pandas as pd

In [91]:
mark = pd.read_csv(r'C:\Users\olive\DataScience\MarketingDirecto_2.csv',
                  sep=";")

In [95]:
mark.shape

(1000, 10)

In [77]:
mark.iloc[0:100,0:5].isnull().sum()/len(mark)*100

Edad         0.0
Genero       0.0
Vivienda     0.0
Ecivil       0.0
Ubicacion    0.0
dtype: float64

**Nivel de perdida de información**

- 0.1% a 1% valores faltantes: perdida es trivial (insignificante).
- 1% a 5% valores faltantes: requieren de una técnica para recuperar información (media, moda, mediana, vecinos más cercanos).
- 5% a 30% valores faltantes: requieren de modelos más sofisticados (modelos de ML) para recuperar la información.