**JSON**

In [1]:
import os
os.getcwd()

'C:\\Users\\SOCIAL DATA'

In [2]:
os.chdir("D:/Python/1. Nivel I/3/datos")

In [3]:
import json

In [4]:
with open("subvenciones.json", encoding="utf-8") as fichero:
    df_json=json.load(fichero)

In [5]:
import pandas as pd

In [6]:
df_json_data = pd.DataFrame(df_json)

In [7]:
df_json_data.head()

             Asociaci칩n    Actividad Subvencionada Importe en euros
0  AMPA ANTONIO MACHADO  TALLER FIESTA DE CARNAVAL            94.56
1  AMPA ANTONIO MACHADO       TALLER DIA DEL PADRE           39.04
2  AMPA ANTONIO MACHADO     TALLER DIA DE LA MADRE           43.64
3  AMPA ANTONIO MACHADO        FIESTA FIN DE CURSO          921.00
4  AMPA ANTONIO MACHADO     CONCURSO LOGOTIPO AMPA           56.57

**SPSS**

In [8]:
read_spss = pd.read_spss("distritos.sav")

In [9]:
read_spss.head()

     distrito  ocu_vivi  pobpjov  sinelect  sinagua  pea1619  pocprin  peam15
0         Ate      1.15      5.3     27.60    51.10      3.9      1.1   63.48
1    Barranco      1.09      4.5      1.59     8.32      0.8      3.9   33.48
2       Bre침a      1.08      4.4      2.20    23.15      0.9      4.0   37.89
3  Carabayllo      1.10      5.1     30.13    38.09      4.5     12.6   63.65
4       Comas      1.20      5.9     10.92    24.27      3.8      9.4   60.37

**STATA**

In [10]:
df_stata = pd.read_stata("anes_timeseries_2012.dta")

In [11]:
df_stata.head()

,version,caseid,weight_ftf,weight_web,weight_full,psu_full,psu_ftf,strata_full,strata_ftf,ftf_oversample,...,randordq_casitherm_illegal,randordq_casitherm_white,randordq_stereogroups,randordq_discrim_black,randordq_discrim_hisp,randordq_discrim_white,randordq_discrim_gay,randordq_discrim_women,randordq_stereorelig,invited_inetrecontact2013
0,ANES2012TimeSeries_version20150528,1.0,0.3802,0.0,0.3802,1.0,1.0,6.0,6.0,0. No oversample,...,"-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
1,ANES2012TimeSeries_version20150528,2.0,0.5470,0.0,0.5470,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,3. 3rd CASI/Web group thermometer,"231. Order: 2 (Hispanics), 3 (Asians), 1 (Blacks)",3. 3rd discrimination group,1. 1st discrimination group,5. 5th discrimination group,2. 2nd discrimination group,4. 4th discrimination group,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
2,ANES2012TimeSeries_version20150528,3.0,0.4975,0.0,0.4975,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,4. 4th CASI/Web group thermometer,"132. Order: 1 (Blacks), 3 (Asians), 2 (Hispanics)",-2. Missing,-2. Missing,-2. Missing,-2. Missing,-2. Missing,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
3,ANES2012TimeSeries_version20150528,4.0,0.2549,0.0,0.2549,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,3. 3rd CASI/Web group thermometer,"213. Order: 2 (Hispanics), 1 (Blacks), 3 (Asians)",3. 3rd discrimination group,2. 2nd discrimination group,5. 5th discrimination group,1. 1st discrimination group,4. 4th discrimination group,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
4,ANES2012TimeSeries_version20150528,5.0,0.6028,0.0,0.6028,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,1. 1st CASI/Web group thermometer,"312. Order: 3 (Asians), 1 (Blacks), 2 (Hispanics)",-2. Missing,-2. Missing,-2. Missing,-2. Missing,-2. Missing,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"

In [12]:
len(df_stata)

5914

**CSV**

In [17]:
df_csv = pd.read_csv("subvenciones.csv", 
                     encoding="latin1")

In [18]:
df_csv.head()

             Asociaci칩n   Actividad Subvencionada   Importe
0  AMPA ANTONIO MACHADO  TALLER FIESTA DE CARNAVAL    94.56
1  AMPA ANTONIO MACHADO       TALLER DIA DEL PADRE    39.04
2  AMPA ANTONIO MACHADO     TALLER DIA DE LA MADRE    43.64
3  AMPA ANTONIO MACHADO        FIESTA FIN DE CURSO   921.00
4  AMPA ANTONIO MACHADO     CONCURSO LOGOTIPO AMPA    56.57

**Motores de bases de datos**

**Credenciales** proporcionadas por el **Administrador de bases de datos**

In [ ]:
#IP Servidor:69.164.192.245
#USUARIO: sdc_read
#Contrase침a: #sDc_Read#21
#Nombre de la base de datos: alumno
#Nombre de la tabla: student.clientes

In [19]:
import pyodbc #SQL Server
import psycopg2 #PostgreSQL
import pandas.io.sql #SQL

**Paso 1: conexi칩n**

In [20]:
conexion = pyodbc.connect("DRIVER={SQL Server}; SERVER=69.164.192.245; DATABASE=alumno; UID=sdc_read; PWD=#sDc_Read#21")

**Paso 2: crear el objeto cursor**

In [21]:
cursor = conexion.cursor()

**Paso 3: realizar la consulta SQL a la base de datos**

In [23]:
cursor.execute("SELECT * from student.clientes")

**Paso 4: m칠todo de extracci칩n**

In [24]:
fila = cursor.fetchall()

fetchall(): m칠todo que permite extraer todas las filas de la tabla

**Paso 5: convertimos en DF las filas**

In [26]:
import numpy as np

In [27]:
df_sql = pd.DataFrame(np.array(fila))

In [28]:
df_sql.head()

,0,1,2,3,4,5,6,7,8,9,10
0,ALFKI,Alfreds Futterkiste,Maria Anders,Representante de ventas,Obere Str. 57,Berl칤n,None,12209,Alemania,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Propietario,Avda. de la Constituci칩n 2222,M칠xico D.F.,None,05021,M칠xico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer칤a,Antonio Moreno,Propietario,Mataderos 2312,M칠xico D.F.,None,05023,M칠xico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Representante de ventas,120 Hanover Sq.,Londres,None,WA1 1DP,Reino Unido,(71) 555-7788,(71) 555-6750
4,BERGS,Berglunds snabbk칬p,Christina Berglund,Administrador de pedidos,Berguvsv칛gen 8,Lule친,None,S-958 22,Suecia,0921-12 34 65,0921-12 34 67

In [29]:
consulta= pd.read_sql_query("SELECT * from student.clientes", conexion)
consulta.head()

,idCliente,NombreCompa침ia,NombreContacto,CargoContacto,Direccion,Ciudad,Region,CodPostal,Pais,Telefono,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Representante de ventas,Obere Str. 57,Berl칤n,None,12209,Alemania,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Propietario,Avda. de la Constituci칩n 2222,M칠xico D.F.,None,05021,M칠xico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer칤a,Antonio Moreno,Propietario,Mataderos 2312,M칠xico D.F.,None,05023,M칠xico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Representante de ventas,120 Hanover Sq.,Londres,None,WA1 1DP,Reino Unido,(71) 555-7788,(71) 555-6750
4,BERGS,Berglunds snabbk칬p,Christina Berglund,Administrador de pedidos,Berguvsv칛gen 8,Lule친,None,S-958 22,Suecia,0921-12 34 65,0921-12 34 67

**Nota**: una vez importa la tabla deben cerrar la conexi칩n a la base datos para no consumir recursos de memoria.

In [31]:
conexion.close()

ProgrammingError: Attempt to use a closed connection.

**PostgreSQL**

In [32]:
#IP Servidor:69.164.192.245
#USUARIO: postgres
#Contrase침a: sdc2019PERU
#Nombre de la base de datos: alumno
#Nombre de la tabla: books

In [33]:
conexion = psycopg2.connect("dbname=alumno user=postgres password=sdc2019PERU host=69.164.192.245")

In [34]:
df_postgreSQL= pd.read_sql_query("SELECT * from books", conexion)
df_postgreSQL.head()

,nombre,autor,precio_anterior,precio_posterior
0,Big Data,Dawn E. Holmes,"S/ 117,98","S/ 82,58"
1,Big Data Para Directivos,Genis Roca,"S/ 113,05","S/ 79,14"
2,"Big Data: La Utilizaci칩n del big Data, el An치l...",Bernard Marr,"S/ 166,14","S/ 116,30"
3,Data Strategy: Como Beneficiarse de un Mundo d...,Bernard Marr,"S/ 118,42","S/ 82,89"
4,"Big Data, el Poder de los Datos",Bill Schmarzo,"S/ 186,11","S/ 130,27"

In [35]:
conexion.close()

**Web Scrapping**

In [39]:
import requests
import pandas as pd
import bs4
from bs4 import BeautifulSoup

In [38]:
#pip install requests

In [40]:
url = "https://www.buscalibre.pe/libros/search?q=Python+Web+Scraping"

In [43]:
url = requests.get(url)

In [44]:
url

In [45]:
cod_html = BeautifulSoup(url.content,
                         "html.parser" )

In [71]:
#print(cod_html)

**Estructuraci칩n**

In [47]:
nombres = cod_html.find_all("h3",{"class":"nombre"})

In [59]:
nombres_libros=[nombres[i].get_text() for i in range(0,len(nombres))]

In [60]:
type(nombres_libros)

list

In [63]:
precio = cod_html.find_all("p",{"class":"precio-ahora"})

In [65]:
precios_libros=[precio[i].get_text() for i in range(0,len(precio))]

In [67]:
type(precios_libros)

list

In [68]:
dicc_libros = {"nombre de libros":nombres_libros,
              "precio de libros": precios_libros}

In [69]:
df_libros = pd.DataFrame(dicc_libros)

In [70]:
df_libros.head()

                                    nombre de libros precio de libros
0   Web Scraping With Python: Collecting More Dat...       S/  247,36
1   Python: This Book Includes: Python Basics for...       S/  263,52
2   Web Scraping With Python (community Experienc...       S/  206,34
3                                             Hands        S/  265,79
4   Python Web Scraping Cookbook: Over 90 Proven ...       S/  280,80