**for**: sentencia que se usa para generar iteraciones o también llamados bucles

In [27]:
resultado=[]

In [28]:
for i in range(2,11):
    resultado.append(i**2)
resultado

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
resultado

[4, 9, 16, 25, 36, 49, 64, 81, 100]

- **append()**: la función append se utiliza para ir agregando elementos a un objeto

**while**: realiza un recorrido sobre valores, pero es condicional, por eso toma el nombre de bucle condicional

In [6]:
x=0
y=20

In [7]:
while x<y:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

**tipeado dinámico**

In [8]:
lista = [2,3,4,5]; print(lista)

[2, 3, 4, 5]

In [9]:
lista2 = lista; print(lista2)

[2, 3, 4, 5]

**Nota**: modificamos un valor en el objeto lista

In [11]:
lista[0]=100

In [12]:
print(lista)

[100, 3, 4, 5]

In [13]:
print(lista2)

[100, 3, 4, 5]

In [14]:
lista2=lista.copy()

In [16]:
lista[0]=2

In [17]:
lista

[2, 3, 4, 5]

In [18]:
lista2

[100, 3, 4, 5]

In [ ]:
cálculos / segundo realiza tu ordenador

In [ ]:
mil registros

In [19]:
1000*1000

1000000

In [22]:
((1000000/15)/60)/60

18.51851851851852

In [ ]:
h2o para python (trabaja en un clúster de procesamiento paralelo de doce núcleos)

In [ ]:
h2o para R (trabaja con un núcleo de procesamiento)

**Estructuras de objetos**

**Números**

In [32]:
n_entero = 40; print(n_entero); type(n_entero)

40

int

In [39]:
n_real = 11.0; print(n_real); type(n_real)

11.0

float

**sistemas numéricos**

In [41]:
n_bin = 0b11; print(n_bin)

3

In [43]:
bin(3)

'0b11'

**Nota**: para python no es un problema trabajar con diferentes sistemas numéricos, ya que los convierte en el sistema decimal

In [44]:
n_hex = 0xf; print(n_hex)

15

In [45]:
hex(15)

'0xf'

**Conjuntos**

In [48]:
conjunto = {2,3,4,10,11,15};type(conjunto);print(conjunto)

{2, 3, 4, 10, 11, 15}

In [49]:
conjunto2 = {3,11,19,21}

In [50]:
conjunto & conjunto2

{3, 11}

In [51]:
conjunto.intersection(conjunto2)

{3, 11}

In [52]:
duplicados = {2,3,4,4,5,6,9,11,11,23}

In [53]:
print(duplicados)

{2, 3, 4, 5, 6, 9, 11, 23}

**Cadena de texto**

In [54]:
cadena = "este es un objeto tipo texto"

In [55]:
print(cadena)

este es un objeto tipo texto

In [56]:
type(cadena)

str

**Nota**: los objetos tipo texto su formato es object o string

**pandas.read_csv()**: función para importar ficheros csv

parámetro encoding=None

In [57]:
bytearray("Sigüeñas","latin")

bytearray(b'Sig\xfce\xf1as')

In [59]:
bytearray("Sigüeñas","cp273")

bytearray(b'\xe2\x89\x87\xd0\x85I\x81\xa2')

https://docs.python.org/3/library/codecs.html#standard-encodings

**Listas**

- nos permite almacenar valores u objetos de diferentes tipos (o formatos)- se diferencia de los vectores
- se pueden modificar después de crearlas - se diferencia de las tuplas.
- se define usando []

In [61]:
alumno = ["Miguel",24,True];type(alumno)

list

In [63]:
alumno[1]=26

In [64]:
print(alumno)

['Miguel', 26, True]

In [65]:
alumno.append("Miraflores")

In [66]:
print(alumno)

['Miguel', 26, True, 'Miraflores']

In [67]:
alumno.insert(1,"Jacinto")

In [68]:
print(alumno)

['Miguel', 'Jacinto', 26, True, 'Miraflores']

In [69]:
del alumno[1]

In [70]:
alumno

['Miguel', 26, True, 'Miraflores']

In [71]:
alumnos = [["Miguel",24,True],["Ibrahim",30,True]]

In [80]:
alumnos[1][0]="Ibrahim"

In [77]:
alumnos[1][0]=alumnos[1][0].replace("Ibrahim","Perez")

In [81]:
alumnos

[['Miguel', 24, True], ['Ibrahim', 30, True]]

**Ejemplo de crear un DF a partir de una lista de listas**

In [82]:
import pandas as pd

In [84]:
data=pd.DataFrame(alumnos,#lista de listas
            columns=["nombre","edad","sexo=masculino"])

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          2 non-null      object
 1   edad            2 non-null      int64
 2   sexo=masculino  2 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 162.0+ bytes

In [86]:
import os
os.getcwd()

'C:\\Users\\SOCIAL DATA'

**Tuplas**

- una vez que es creado es un objeto inmodificable

In [87]:
alumno_tupla = "Ibrahim",30,True

In [89]:
alumno_tupla[1]=32

TypeError: 'tuple' object does not support item assignment

**¿Podríamos modificar una tupla a otra estructura de objeto?**

In [90]:
alumno_list = list(alumno_tupla)

In [91]:
type(alumno_list)

list

In [92]:
alumno_list

['Ibrahim', 30, True]

**Vectores & matrices**

In [29]:
import numpy as np

In [94]:
np.array([25,30,32,"28"])

array(['25', '30', '32', '28'], dtype='<U11')

- son objetos que admiten un tipo de formato

In [95]:
edades=np.array([25,30,32,28])

In [97]:
edades[1]=27

In [98]:
print(edades)

[25 27 32 28]

**Diccionarios**

In [99]:
alumno_dict ={"alumno":["Ibrahim","Harol","Enrique","Katherin"],
             "edad":[30,24,28,32],
             "masculino":[True,True,True,False],
             "universidad":["PUCP","UNI","PUCP","UNALM"]}

In [100]:
type(alumno_dict)

dict

In [101]:
print(alumno_dict)

{'alumno': ['Ibrahim', 'Harol', 'Enrique', 'Katherin'], 'edad': [30, 24, 28, 32], 'masculino': [True, True, True, False], 'universidad': ['PUCP', 'UNI', 'PUCP', 'UNALM']}

In [104]:
alumno_dict["alumno"][2]="Oliver"

In [105]:
print(alumno_dict)

{'alumno': ['Ibrahim', 'Harol', 'Oliver', 'Katherin'], 'edad': [30, 24, 28, 32], 'masculino': [True, True, True, False], 'universidad': ['PUCP', 'UNI', 'PUCP', 'UNALM']}

In [106]:
import pandas as pd

In [107]:
df_alumnos = pd.DataFrame(alumno_dict)

In [108]:
df_alumnos

     alumno  edad  masculino universidad
0   Ibrahim    30       True        PUCP
1     Harol    24       True         UNI
2    Oliver    28       True        PUCP
3  Katherin    32      False       UNALM

**DataFrame**

In [30]:
import pandas as pd

**algunos ejemplos de manipulación de unDF**

Consultar las etiquetas de una columna de un DF

In [112]:
name_columns= df_alumnos.columns.tolist();print(name_columns)

['alumno', 'edad', 'masculino', 'universidad']

Consultar los valores de columna de un DF

In [113]:
value_x = df_alumnos["edad"].values

In [114]:
value_x

array([30, 24, 28, 32], dtype=int64)

In [116]:
df_alumnos[["edad","universidad"]].values

array([[30, 'PUCP'],
       [24, 'UNI'],
       [28, 'PUCP'],
       [32, 'UNALM']], dtype=object)

In [118]:
df_alumnos.iloc[:,[1,3]].values

array([[30, 'PUCP'],
       [24, 'UNI'],
       [28, 'PUCP'],
       [32, 'UNALM']], dtype=object)

In [119]:
df_alumnos.head(n=2)

    alumno  edad  masculino universidad
0  Ibrahim    30       True        PUCP
1    Harol    24       True         UNI

In [120]:
df_alumnos.tail(n=2)

     alumno  edad  masculino universidad
2    Oliver    28       True        PUCP
3  Katherin    32      False       UNALM

**¿Cómo generamos una copia del DF?**

In [121]:
data = df_alumnos.copy()

In [123]:
data.iloc[1,1]=26

In [124]:
data.head()

     alumno  edad  masculino universidad
0   Ibrahim    30       True        PUCP
1     Harol    26       True         UNI
2    Oliver    28       True        PUCP
3  Katherin    32      False       UNALM

In [128]:
data.drop(columns="edad",#nombre de la columna
         axis=1,#axis=1: sobre columna
         inplace=True) #inplace: definir si se elimina de forma permanente o sólo para la consulta

- axis=1: la operación se hace sobre columnas
- axis=0: la operación se hace sobre filas

In [129]:
data

     alumno  masculino universidad
0   Ibrahim       True        PUCP
1     Harol       True         UNI
2    Oliver       True        PUCP
3  Katherin      False       UNALM

In [130]:
data.drop(1,
         axis=0,
         inplace=True)

In [131]:
data

     alumno  masculino universidad
0   Ibrahim       True        PUCP
2    Oliver       True        PUCP
3  Katherin      False       UNALM

**reset_index()**

In [132]:
data.reset_index(drop=True)

     alumno  masculino universidad
0   Ibrahim       True        PUCP
1    Oliver       True        PUCP
2  Katherin      False       UNALM

In [136]:
df_alumnos

     alumno  edad  masculino universidad
0   Ibrahim    30       True        PUCP
1     Harol    24       True         UNI
2    Oliver    28       True        PUCP
3  Katherin    32      False       UNALM

In [139]:
df_alumnos[(df_alumnos.universidad!="PUCP")&(df_alumnos.edad>30)]

     alumno  edad  masculino universidad
3  Katherin    32      False       UNALM

In [143]:
df_alumnos.edad.max()

32

In [144]:
df_alumnos.edad.mean()

28.5

In [145]:
df_alumnos.edad.min()

24

**importación de ficheros y conexión a bases de datos**

In [147]:
import json5
import json
import pandas as pd
import pyreadstat
import numpy as np
import os

In [ ]:
pip install pyreadstat

In [148]:
import pyodbc
import psycopg2
import pandas.io.sql

In [150]:
import os
os.getcwd()

'C:\\Users\\SOCIAL DATA'

In [153]:
os.listdir("C:/Users/SOCIAL DATA")

[' Prueba MSV.ipynb',
 '.anaconda_backup',
 '.android',
 '.azure',
 '.azureml',
 '.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.git',
 '.gitconfig',
 '.gitignore',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.matplotlib',
 '.ms-ad',
 '.opera',
 '.pgAdmin4.1590372639.addr',
 '.pgAdmin4.1590372639.log',
 '.pgAdmin4.427924103.addr',
 '.pgAdmin4.427924103.log',
 '.pgAdmin4.startup.log',
 '.pylint.d',
 '.python_history',
 '.RapidMiner',
 '.Rhistory',
 '.spyder',
 '.spyder-py3',
 '.VirtualBox',
 '.vscode',
 '03 - Notebook 6.ipynb',
 '06 Introduccion a la extraccion de patrones.rar',
 '10. Desplegar_consumir_real_time_lab.ipynb',
 '10_Monitoreo_modelos',
 '24. Deriva de datos_lab.ipynb',
 '3D Objects',
 'aaaa.ipynb',
 'abc.ipynb',
 'ACNUR_SESION_1.ipynb',
 'ACNUR_SESION_2.ipynb',
 'ACNUR_tema1.ipynb',
 'ACNUR_tema2.ipynb',
 'ACNUR_tema3.ipynb',
 'ACNUR_tema4.ipynb',
 'ACNUR_tema5.ipynb',
 'ACNUR_tema6.ipynb',
 'ACNUR_tema7.ipynb',
 'ADE_grupo4.ipynb',
 'Ajuste_hiperparametros_lab.ipynb',
 'alum.ipynb',
 'alum.py',
 'analisis_exploratorio.R',
 'análisis_de_imágenes_de_percepción_remota.ipynb',
 'Análisis_geoestadístico_Detección_de_hot_spots.ipynb',
 'Api twiter r.ipynb',
 'app.py',
 'AppData',
 'Application Data',
 'arbol.dot',
 'arbol_bu.dot',
 'arbol_de_decision_para_data_sobre_credito.RData',
 'audio_only.m4a',
 'AusentismoPres2011.sav',
 'awsml_sdc',
 'AzureML',
 'azureml_experiment',
 'Azure_Entrenar_registrar_modelos.ipynb',
 'azure_sdc',
 'azure_sdc (2).zip',
 'azure_sdc.zip',
 'bank-full.csv',
 'bank.csv',
 'bank_customer.xlsx',
 'base.csv',
 'Bienvenidos.ipynb',
 'borrador 4.ipynb',
 'borrador.ipynb',
 'borrador1.ipynb',
 'borrador10.ipynb',
 'borrador2.ipynb',
 'borrador3.ipynb',
 'borrador4.ipynb',
 'borrador5.ipynb',
 'borrador7.ipynb',
 'borrador8.ipynb',
 'borrador9.ipynb',
 'borrador_00.ipynb',
 'borrador_14.ipynb',
 'BORRADOR_15.ipynb',
 'bupa_dtree.dot',
 'Canalizacion(Pipeline)',
 'Canalizacion(Pipeline).zip',
 'Candidatos.xlsx',
 'carga_bono_alimentario.ipynb',
 'Caso 2 Práctico Clustering Python.ipynb',
 'Caso Practico - Consumo de Oxigeno.ipynb',
 'caso webinar.ipynb',
 'CasoAzureML',
 'CasoPractico.ipynb',
 'CasoPractico_clase.ipynb',
 'Caso_clúster.ipynb',
 'CEE_Regresión.ipynb',
 'ch03.ipynb',
 'ch04.ipynb',
 'ch06.ipynb',
 'ch10.ipynb',
 'chat.txt',
 'Churn_dtree.dot',
 'clase_1.ipynb',
 'Clase_Azure SQL DB.ipynb',
 'clase_extra.ipynb',
 'Clase_ML_Automatizado.ipynb',
 'clase_py_sab.ipynb',
 'codigo_AWS_almacenamiento_bases_de_datos.ipynb',
 'Comparativa General - Regression.pdf',
 'config',
 'config.json',
 'Configuración local',
 'Contacts',
 'Cookies',
 'corazonf.csv',
 'Creative Cloud Files',
 'Cross Selling-Copy1.ipynb',
 'data_bonoalimentario',
 'data_bonoalimentario.csv',
 'data_buscalibre.csv',
 'DATA_FUGA',
 'DATA_FUGA.csv',
 'data_sub3.csv',
 'data_test.csv',
 'data_train.csv',
 'datos',
 'Datos de programa',
 'debug.log',
 'decision_tree.ipynb',
 'decision_tree_caso.ipynb',
 'decision_tree_cod.ipynb',
 'decision_tree_regression-Copy1.ipynb',
 'democracias_latam.sav',
 'Desktop',
 'Desktop.rds',
 'DesktopAM.csv',
 'DesktopDF.csv',
 'DesktopES.csv',
 'DesktopMG.csv',
 'DesktopMS.csv',
 'DesktopPA.csv',
 'DesktopPI.csv',
 'DesktopRJ.csv',
 'DesktopRR.csv',
 'DesktopRS.csv',
 'DesktopSP.csv',
 'DesktopTO.csv',
 'Desplegar_consumir_Modelos',
 'Desplegar_consumir_Modelos.zip',
 'despliegue_model',
 'despliegue_model.zip',
 'despliegue_py_2.ipynb',
 'df_buscalibre.csv',
 'diabetes_py.xlsx',
 'Documents',
 'Downloads',
 'dtree_structure.png',
 'D_tree.ipynb',
 'edb_npgsql.exe',
 'edb_pgjdbc.exe',
 'edb_psqlodbc.exe',
 'Entorno de red',
 'EntrenamientoOptimoModelo',
 'EntrenamientoOptimoModelo.zip',
 'Entropy.py',
 'Examen basico_Preguntas.ipynb',
 'Examen basico_resuelto.ipynb',
 'EXAMEN PYTHON BÁSICO(1).ipynb',
 'EXAMEN PYTHON BÁSICO.ipynb',
 'examen.ipynb',
 'ExamenFinal.ipynb',
 'ExamenPy_Avanzado_final_resolución.ipynb',
 'Examen_basico_indicaciones.ipynb',
 'Examen_basico_resolución_Básico.ipynb',
 'Examen_basico_resuelto.ipynb',
 'Examen_Python_Intermedio (1).ipynb',
 'Experimentos',
 'Exploration.ipynb',
 'facebook.ipynb',
 'Favorites',
 'Feature_engineering',
 'fishdata.csv',
 'fluido.csv',
 'Fundamentos_repaso.ipynb',
 'GBM_model_python_1584112814633_456',
 'GBM_model_python_1584247111240_144',
 'GBM_model_python_1591403061563_664',
 'GBM_model_python_1600536508628_462',
 'GBM_model_python_1601758588674_562',
 'geckodriver.log',
 'h2o.jar',
 'H2Omodel.ipynb',
 'Impresoras',
 'impureza_AD.ipynb',
 'IntelGraphicsProfiles',
 'Introducción a lenguajes de Programación para web scraping.ipynb',
 'Introducción a los lenguajes de programación 2',
 'Introducción a los lenguajes de programación para web scraping 2.ipynb',
 'Intro_Web_Scraping.ipynb',
 'iris_dtree.dot',
 'laboratorio 8(2).ipynb',
 'laboratorio 9_sdc.ipynb',
 'Laboratorio_11.ipynb',
 'Laboratorio_12.ipynb',
 'Laboratorio_15.ipynb',
 'Laboratorio_tw.ipynb',
 'lectura.ipynb',
 'lectura_clase.ipynb',
 'lesson_10_1.ipynb',
 'lesson_10_2.ipynb',
 'lesson_10_3.ipynb',
 'lesson_11_1.ipynb',
 'lesson_11_2.ipynb',
 'lesson_12_1.ipynb',
 'lesson_12_2.ipynb',
 'lesson_12_evaluación_final.ipynb',
 'lesson_1_1.ipynb',
 'lesson_1_2.ipynb',
 'lesson_2_1.ipynb',
 'lesson_2_3.ipynb',
 'lesson_3_1.ipynb',
 'lesson_3_2.ipynb',
 'lesson_4.ipynb',
 'lesson_5.ipynb',
 'lesson_6_1.ipynb',
 'lesson_6_2.ipynb',
 'lesson_6_3.ipynb',
 'lesson_7_1.ipynb',
 'lesson_7_2.ipynb',
 'lesson_7_3.ipynb',
 'lesson_8.ipynb',
 'lesson_9_1.ipynb',
 'lesson_9_2.ipynb',
 'lesson_9_borrador.ipynb',
 'Library',
 'libro_de_codigos.csv',
 'Links',
 'Local Settings',
 'low_variance_features.ipynb',
 'MarketingDirecto.csv',
 'mark_procesado.csv',
 'Master_Class_Python.ipynb',
 'Master_Class_Python_01.ipynb',
 'Master_Class_Python_02.ipynb',
 'MC-Microsoft-Azure.ML-Rapids',
 'MDLP.py',
 'Menú Inicio',
 'Microsoft',
 'MicrosoftEdgeBackups',
 'miktex-console.lock',
 'Mis documentos',
 'MLmodel_intro.ipynb',
 'MLmodel_práctica.ipynb',
 'MLmodel_teoría.ipynb',
 'ML_automatizado_REST.ipynb',
 'ML_automatizado_v2.ipynb',
 'ML_automatizado_v3.ipynb',
 'ml_azure',
 'ML_Azure_webinar_2022',
 'ML_Introducción.ipynb',
 'ML_my_model.ipynb',
 'mnist_scaled.npz',
 'Modelamiento_de_datos.ipynb',
 'modelo.ipynb',
 'Modelo.joblib',
 'modelo_ML_python.ipynb',
 'model_evaluation_utils.py',
 'movie_data.csv',
 'Music',
 'Máquina de Soporte Vectorial.ipynb',
 'NACIONAL_HOGAR(v2).sav',
 'Nacional_Hogar.ipynb',
 'Nacional_Hogar_Ayacucho.ipynb',
 'Nacional_Hogar_por_departamentos.ipynb',
 'Naive+Bayes2.ipynb',
 'nivel1_0.ipynb',
 'nivel1_1-cp.ipynb',
 'nivel1_1.ipynb',
 'nivel1_10.ipynb',
 'nivel1_10_2019.ipynb',
 'nivel1_10_clase.ipynb',
 'nivel1_10_clase_dom.ipynb',
 'nivel1_10_clase_py.ipynb',
 'nivel1_10_clase_sab.ipynb',
 'nivel1_1_clase.ipynb',
 'nivel1_1_clase_py.ipynb',
 'nivel1_1_clase_sab.ipynb',
 'nivel1_1_lab.ipynb',
 'nivel1_2.ipynb',
 'nivel1_2_clase.ipynb',
 'nivel1_2_clase_py.ipynb',
 'nivel1_2_clase_sab.ipynb',
 'nivel1_2_lab.ipynb',
 'nivel1_3.ipynb',
 'nivel1_3_2.ipynb',
 'nivel1_3_claase_sab.ipynb',
 'nivel1_3_clase.ipynb',
 'nivel1_3_clase_py.ipynb',
 'nivel1_3_clase_sab_1er.ipynb',
 'nivel1_3_ficheros.ipynb',
 'nivel1_3_lab.ipynb',
 'nivel1_4.ipynb',
 'nivel1_4_1_clase.ipynb',
 'nivel1_4_2.ipynb',
 'nivel1_4_bonus_track_caso_bumeran.ipynb',
 'nivel1_4_bonus_track_caso_buscalibre.ipynb',
 'nivel1_4_bonus_track_caso_congreso.ipynb',
 'nivel1_4_clase_sab_1er.ipynb',
 'nivel1_4_lab.ipynb',
 'nivel1_5.ipynb',
 'nivel1_5_2.ipynb',
 'nivel1_5_3_h2o.ipynb',
 'nivel1_5_3_h2o_cp.ipynb',
 'nivel1_5_clase.ipynb',
 'nivel1_5_clase_py.ipynb',
 'nivel1_5_clase_sab.ipynb',
 'nivel1_5_clase_sab_1er.ipynb',
 'nivel1_6.ipynb',
 'nivel1_6_2019.ipynb',
 'nivel1_6_clase.ipynb',
 'nivel1_6_clase_py.ipynb',
 'nivel1_6_clase_sab.ipynb',
 'nivel1_6_clase_sab_1er.ipynb',
 'nivel1_7.ipynb',
 'nivel1_7_clase.ipynb',
 'nivel1_7_clase_sab.ipynb',
 'nivel1_7_clase_sab_1er.ipynb',
 'nivel1_8.ipynb',
 'nivel1_8_2019.ipynb',
 'nivel1_8_clase.ipynb',
 'nivel1_8_clase_py.ipynb',
 'nivel1_8_clase_sab.ipynb',
 'nivel1_8_clase_sab_1er.ipynb',
 'nivel1_8_cp.ipynb',
 'nivel1_9.ipynb',
 'nivel1_9_clase.ipynb',
 'nivel1_9_clase_py.ipynb',
 'nivel1_9_clase_sab.ipynb',
 'nivel1_9_clase_sab_1er.ipynb',
 'nivel1_examen.ipynb',
 'nivel2_1.ipynb',
 'nivel2_1_clase.ipynb',
 'nivel2_1_clase_py.ipynb',
 'nivel2_1_clase_sab.ipynb',
 'nivel2_1_clase_sab_1er.ipynb',
 'nivel2_1_clase_sab_cluster.ipynb',
 'nivel2_2_1.ipynb',
 'nivel2_2_2.ipynb',
 'nivel2_2_3.ipynb',
 'nivel2_2_4.ipynb',
 'nivel2_2_5.ipynb',
 'nivel2_2_6.ipynb',
 'nivel2_2_7.ipynb',
 'nivel2_3.ipynb',
 'nivel2_3_clase_sab.ipynb',
 'nivel2_4_1.ipynb',
 'nivel2_4_2.ipynb',
 'nivel2_4_2_cp.ipynb',
 'nivel2_4_3.ipynb',
 'nivel2_4_4.ipynb',
 'nivel2_4_clase.ipynb',
 'nivel2_4_clase_dom.ipynb',
 'nivel2_4_clase_py.ipynb',
 'nivel2_5.ipynb',
 'nivel2_5_1.ipynb',
 'nivel2_5_2.ipynb',
 'nivel2_6.ipynb',
 'nivel2_6_1.ipynb',
 'nivel2_6_2.ipynb',
 'nivel2_6_3.ipynb',
 'nivel2_6_clase_py.ipynb',
 'nivel2_6_clase_py_dom.ipynb',
 'nivel2_7_1.ipynb',
 'nivel2_7_2.ipynb',
 'nivel2_7_2_clase_py.ipynb',
 'nivel2_7_3.ipynb',
 'nivel2_7_clase.ipynb',
 'nivel2_7_clase_sab_1er.ipynb',
 'nivel2_7_clase_sab_2da.ipynb',
 'nivel2_8.ipynb',
 'nivel2_8_1.ipynb',
 'nivel2_8_2.ipynb',
 'nivel2_8_2_cp.ipynb',
 'nivel2_9.ipynb',
 'nivel2_9_1.ipynb',
 'nivel2_9_2.ipynb',
 'nivel2_cp.ipynb',
 'nivel2_evaluación_regresion_Bike.ipynb',
 'nivel2_examen.ipynb',
 'nivel2_examen_resuelto.ipynb',
 'nivel3_1.ipynb',
 'nivel3_1_2.ipynb',
 'nivel3_1_2_clase.ipynb',
 'nivel3_1_2_clase_py.ipynb',
 'nivel3_1_2_clase_sab.ipynb',
 'nivel3_1_2_lab.ipynb',
 'nivel3_1_3.ipynb',
 'nivel3_2.ipynb',
 'nivel3_2_0.ipynb',
 'nivel3_2_0_cp.ipynb',
 'nivel3_2_clase_py.ipynb',
 'nivel3_4.ipynb',
 'nivel3_4_1.ipynb',
 'nivel3_4_2.ipynb',
 'nivel3_4_clase.ipynb',
 'nivel3_4_clase_py.ipynb',
 'nivel3_4_clase_sab.ipynb',
 'nivel3_5_1.ipynb',
 'nivel3_5_1_2.ipynb',
 'nivel3_5_2 (1).ipynb',
 'nivel3_5_2.ipynb',
 'nivel3_5_2_1.ipynb',
 'nivel3_5_2_2.ipynb',
 'nivel3_5_2_cp.ipynb',
 'nivel3_5_clase.ipynb',
 'nivel3_5_py_clase_sab.ipynb',
 'nivel3_6.ipynb',
 'nivel3_6_1_1.ipynb',
 'nivel3_6_cp.ipynb',
 'nivel3_7_1.ipynb',
 'nivel3_7_2.ipynb',
 'nivel3_evaluación.ipynb',
 'nivel3_evaluación_py.ipynb',
 'nivel_10_clase_sab_1er.ipynb',
 'nivel_2_6_clase.ipynb',
 'notebook_caso_exito_previa.ipynb',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{273e26ef-aa65-11ed-b0d9-d4d1f4ad8336}.TxR.0.regtrans-ms',
 'NTUSER.DAT{273e26ef-aa65-11ed-b0d9-d4d1f4ad8336}.TxR.1.regtrans-ms',
 'NTUSER.DAT{273e26ef-aa65-11ed-b0d9-d4d1f4ad8336}.TxR.2.regtrans-ms',
 'NTUSER.DAT{273e26ef-aa65-11ed-b0d9-d4d1f4ad8336}.TxR.blf',
 'NTUSER.DAT{273e26f0-aa65-11ed-b0d9-d4d1f4ad8336}.TM.blf',
 'NTUSER.DAT{273e26f0-aa65-11ed-b0d9-d4d1f4ad8336}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{273e26f0-aa65-11ed-b0d9-d4d1f4ad8336}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Nueva carpeta',
 'OneDrive',
 'Operaciones_básicas_de_SIG_(raster).ipynb',
 'Operaciones_básicas_de_SIG_(vector).ipynb',
 'op_1.png',
 'op_2.png',
 'op_3.png',
 'op_4.png',
 'op_5.png',
 'op_6.png',
 'op_7.png',
 'op_8.png',
 'Organización_objetos_espaciales_en_R.ipynb',
 'Oxigeno_23-02-2021.csv',
 'parkinsons_updrs.data',
 'Parte2_P_ControlDeEjecucion.ipynb',
 'Parte4_P_DataCleaning.ipynb',
 'Parte5_P_RedesSociales.ipynb',
 'Partidos.xlsx',
 'PC.ipynb',
 'PCA after clustering.csv',
 'Pictures',
 'pipeline-diagram.png',
 'Plantillas',
 'playback.m3u',
 'players_20.csv',
 'positivos_covid.csv',
 'post.csv',
 'Postman',
 'practica_mercado_libre.ipynb',
 'prediccion_ataques_cardiacos.ipynb',
 'Predictive Analytics-Final.ipynb',
 'Preparación_de_datos.ipynb',
 'preprocesamiento_anemia.ipynb',
 'preprocesamiento_aws.ipynb',
 'Preprocesamiento_en_R.ipynb',
 'procesamiento paralelo de datos en Python',
 'Procfile',
 'project_pucp.ipynb',
 'proyecto_final_avance.ipynb',
 'Prueba-sdc.ipynb',
 'prueba.ipynb',
 'Prueba_eliminar.ipynb',
 'prueba_sdc.ipynb',
 'Práctica selenium.ipynb',
 'PS_20174392719_1491204439457_log.csv',
 'Python Reglas de Asociacion.ipynb',
 'PythonSDC',
 'Python_ALACIP_1.ipynb',
 'Python_ALACIP_2.ipynb',
 'Python_ALACIP_3.ipynb',
 'Python_ALACIP_4.ipynb',
 'python_conexion_db.ipynb',
 'python_conexion_db_edic4.ipynb',
 'Python_examen_final_clase.ipynb',
 'Python_for_Data_Science.ipynb',
 'python_tema1.ipynb',
 'python_tema2.ipynb',
 'python_tema3.ipynb',
 'python_tema4.ipynb',
 'python_tema5.ipynb',
 'python_tema6.ipynb',
 'python_tema7.ipynb',
 'py_01_30.ipynb',
 'py_01_31.ipynb',
 'py_01_35.ipynb',
 'py_01_36.ipynb',
 'py_01_36_clase.ipynb',
 'py_01_37.ipynb',
 'py_01_39.ipynb',
 'py_02_30.ipynb',
 'py_02_31.ipynb',
 'PY_02_35.ipynb',
 'py_02_36.ipynb',
 'py_02_37.ipynb',
 'py_03_30.ipynb',
 'py_03_31_1.ipynb',
 'py_03_31_2.ipynb',
 'py_03_31_3.ipynb',
 'PY_03_35.ipynb',
 'py_03_36.ipynb',
 'py_04_30.ipynb',
 'py_04_31.ipynb',
 'py_04_35.ipynb',
 'py_04_36.ipynb',
 'py_04_38.ipynb',
 'py_05_31.ipynb',
 'py_05_35.ipynb',
 'py_05_36.ipynb',
 'py_05_37.ipynb',
 'py_05_38.ipynb',
 'py_06_30.ipynb',
 'py_06_31.ipynb',
 'py_06_35.ipynb',
 'py_06_36.ipynb',
 'py_06_37.ipynb',
 'py_06_38.ipynb',
 'py_07_30.ipynb',
 'py_07_31.ipynb',
 'py_07_35.ipynb',
 'py_07_36.ipynb',
 'py_07_37.ipynb',
 'py_07_37.pdf',
 'py_07_37_lab.ipynb',
 'py_07_38.ipynb',
 'py_08_31.ipynb',
 'py_08_36.ipynb',
 'py_08_37_lab.ipynb',
 'py_08_38.ipynb',
 'py_09_30.ipynb',
 'py_09_31.ipynb',
 'py_09_35.ipynb',
 'py_09_36.ipynb',
 'py_09_38.ipynb',
 'py_09_38_lab.ipynb',
 'py_10_30.ipynb',
 'py_10_31.ipynb',
 'py_10_35.ipynb',
 'py_10_36.ipynb',
 'py_10_37.ipynb',
 'py_10_38_lab.ipynb',
 'py_11_30.ipynb',
 'py_11_31.ipynb',
 'py_11_35.ipynb',
 'py_11_36 .ipynb',
 'py_11_36_1.ipynb',
 'py_11_36_2.ipynb',
 'py_11_37.ipynb',
 'py_11_38.ipynb',
 'py_12_30.ipynb',
 'py_12_31.ipynb',
 'py_12_35.ipynb',
 'py_12_35_parte2.ipynb',
 'py_12_36.ipynb',
 'py_12_38.ipynb',
 'py_12_38_lab.ipynb',
 'py_13_30.ipynb',
 'py_13_31.ipynb',
 'py_13_31_2.ipynb',
 'py_13_34.ipynb',
 'py_13_35.ipynb',
 'py_13_36.ipynb',
 'py_13_38.ipynb',
 'py_14_30.ipynb',
 'py_14_35.ipynb',
 'py_14_35_2.ipynb',
 'py_14_36.ipynb',
 'py_14_36_2.ipynb',
 'py_15_34.ipynb',
 'py_15_35.ipynb',
 'py_15_35_2.ipynb',
 'py_16_30.ipynb',
 'py_16_35.ipynb',
 'py_16_36.ipynb',
 'py_17_30.ipynb',
 'py_17_34.ipynb',
 'py_17_36.ipynb',
 'py_18_30.ipynb',
 'py_18_34.ipynb',
 'py_18_34_2.ipynb',
 'py_18_34_3.ipynb',
 'py_18_36.ipynb',
 'py_19_30.ipynb',
 'py_19_34.ipynb',
 'py_19_34_2.ipynb',
 'py_19_34_3.ipynb',
 'py_19_36.ipynb',
 'py_19_36_2.ipynb',
 'py_20_30.ipynb',
 'py_21_30.ipynb',
 'py_23_30.ipynb',
 'py_9_37.ipynb',
 'py_9_37_intro.ipynb',
 'py_9_37_lab.ipynb',
 'py_clase10_edic25.ipynb',
 'py_clase11_edic25.ipynb',
 'py_clase12_edic25.ipynb',
 'py_clase13_edic25.ipynb',
 'py_clase14_edic25.ipynb',
 'py_clase1_edic25.ipynb',
 'py_clase2_edic25.ipynb',
 'py_clase3_edic25.ipynb',
 'py_clase4_edic25.ipynb',
 'py_clase5_edic25.ipynb',
 'py_clase6_edic25.ipynb',
 'py_clase7_edic25.ipynb',
 'py_clase8_edic25.ipynb',
 'py_clase9_edic25.ipynb',
 'py_edi21_nivel3_clase2.ipynb',
 'py_edi21_nivel3_clase3.ipynb',
 'py_edi21_nivel3_clase4.ipynb',
 'py_edi21_nivel3_clase5.ipynb',
 'py_edic23_clase1.ipynb',
 'py_edic23_clase10.ipynb',
 'py_edic23_clase11.ipynb',
 'py_edic23_clase12.ipynb',
 'py_edic23_clase13_clase14.ipynb',
 'py_edic23_clase15.ipynb',
 'py_edic23_clase16.ipynb',
 'py_edic23_clase2.ipynb',
 'py_edic23_clase3.ipynb',
 'py_edic23_clase4.ipynb',
 'py_edic23_clase5.ipynb',
 'py_edic23_clase6.ipynb',
 'py_edic23_clase7.ipynb',
 'py_edic23_clase8.ipynb',
 'py_edic23_clase9.ipynb',
 'py_edic24_clase1.ipynb',
 'py_edic24_clase10.ipynb',
 'py_edic24_clase11.ipynb',
 'py_edic24_clase12.ipynb',
 'py_edic24_clase13.ipynb',
 'py_edic24_clase14.ipynb',
 'py_edic24_clase15.ipynb',
 'py_edic24_clase16_clase17.ipynb',
 'py_edic24_clase17.ipynb',
 'py_edic24_clase18.ipynb',
 'py_edic24_clase19.ipynb',
 'py_edic24_clase2.ipynb',
 'py_edic24_clase20.ipynb',
 'py_edic24_clase21.ipynb',
 'py_edic24_clase22.ipynb',
 'py_edic24_clase3.ipynb',
 'py_edic24_clase4.ipynb',
 'py_edic24_clase5.ipynb',
 'py_edic24_clase6.ipynb',
 'py_edic24_clase7.ipynb',
 'py_edic24_clase8.ipynb',
 'py_edic24_clase9.ipynb',
 'py_edic24_exam.ipynb',
 'py_pipelines.ipynb',
 'py_tema1_modulo2_XVII.ipynb',
 'py_tema4_modulo2_XVII.ipynb',
 'py_tema6_modulo2_XVII.ipynb',
 'py_tema6_XVII.ipynb',
 'py_tema7_8_XVII.ipynb',
 'py_tema_5_XVII.ipynb',
 'Py_webinar_segmentación de datos con sk-learn.ipynb',
 'Py_webinar_SklearnRandomForest.ipynb',
 'random_forest.building_energy.default.py',
 'random_forest.building_energy.default.reproducible.py',
 'random_forest.building_energy.grid1.py',
 'Random_Forest_R_práctica.ipynb',
 'Random_Forest_R_teoría.ipynb',
 'Reciente',
 'reporte_profesor.xls',
 'requirement.txt',
 'requirements.txt',
 'ResponsableML',
 'RL1.ipynb',
 'RL2.ipynb',
 'RL3.ipynb',
 'Rnivel1_0.ipynb',
 'Rnivel1_1.ipynb',
 'Rnivel1_10.ipynb',
 'Rnivel1_2.ipynb',
 'Rnivel1_3.ipynb',
 'Rnivel1_4.ipynb',
 'Rnivel1_5.ipynb',
 'Rnivel1_6.ipynb',
 'Rnivel1_7.ipynb',
 'Rnivel1_8.ipynb',
 'Rnivel1_9.ipynb',
 'Rnivel2_1.ipynb',
 'Rnivel2_3.ipynb',
 'Rnivel2_4_1.ipynb',
 'Rnivel2_4_2.ipynb',
 'Rnivel2_5.ipynb',
 'Rnivel2_6_1.ipynb',
 'Rnivel2_6_2.ipynb',
 'Rnivel2_7_1.ipynb',
 'Rnivel2_7_2.ipynb',
 'Rnivel2_7_2_copy.ipynb',
 'Rnivel2_8.ipynb',
 'Rnivel2_9.ipynb',
 'Rnivel2_evaluación_classification_wine.ipynb',
 'Rnivel3_1.ipynb',
 'Rnivel3_1_2.ipynb',
 'Rnivel3_2.ipynb',
 'Rnivel3_3_1.ipynb',
 'Rnivel3_3_2.ipynb',
 'Rnivel3_4.ipynb',
 'Rnivel3_5.ipynb',
 'Rnivel3_5_2.ipynb',
 'Rnivel3_6.ipynb',
 'Rnivel3_7.ipynb',
 'Rnivel3_8.ipynb',
 'Rnivel3_evaluación.ipynb',
 'Roaming',
 'R_complement1.ipynb',
 'R_complement3.ipynb',
 'R_complement4.ipynb',
 'R_complemet2.ipynb',
 'R_component5.ipynb',
 'R_for_Data_Science.ipynb',
 'R_language_01_07_2021.ipynb',
 'R_language_12_07_2021.ipynb',
 'R_language_15_07_2021.ipynb',
 'R_language_19_07_2021.ipynb',
 'R_language_21_06_2021_1.ipynb',
 'R_language_21_06_2021_2.ipynb',
 'R_language_24_06_2021.ipynb',
 'R_language_26_07_2021.ipynb',
 'R_language_28_06_2021.ipynb',
 'R_language_29_07_2021.ipynb',
 'R_language_8_07_2021.ipynb',
 'R_webinar_Machine_Learning_con_h2o.ipynb',
 'R_webinas_MetricasClasificacion_R.ipynb',
 'SageMakerAutopilotCandidateDefinitionNotebook(1).ipynb',
 'SageMakerAutopilotCandidateDefinitionNotebook.ipynb',
 'SageMakerAutopilotDataExplorationNotebook.ipynb',
 'samuel.csv',
 'Saved Games',
 'scikit_learn_data',
 'Searches',
 'sel',
 'selected_data_with_banks.csv',
 'Semillero_01.ipynb',
 'Semillero_02.ipynb',
 'Semillero_03.ipynb',
 'SendTo',
 'server.py',
 'server.pyc',
 'server2.py',
 'Sesion4. Clustering-checkpoint.ipynb',
 'Sesion4. Clustering.ipynb',
 'Source.gv',
 'src',
 'Sti_Trace.log',
 'SVM.ipynb',
 'T7 - 1 - Trees - Árboles de Decisión.ipynb',
 'T7 - 2 - Trees - Árboles de Regresión.ipynb',
 'TAF.ipynb',
 'TAF_PUCP.ipynb',
 'TAF_PUCP_Final.ipynb',
 'taller_modelo_aplicación.ipynb',
 'taller_modelo_presentación.ipynb',
 'taller_modelo_teoría.ipynb',
 'tema7.ipynb',
 'test',
 'Text Analysis.ipynb',
 'Text Analysis2.ipynb',
 'tmp_dataframe.csv',
 'Trabajar con Data',
 'Trabajar con procesos',
 'trabajar_con_data',
 'trabajo_aplicado.ipynb',
 'train.csv',
 'TRAIN_FUGA.csv',
 'train_wids.csv',
 'tree.dot',
 'tree1.dot',
 'tree_2.png',
 'tree_example.ipynb',
 'UCI_Credit_Card.csv',
 'UCU_Importar_CSV.ipynb',
 'Untitled Folder',
 'Untitled Folder 1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled100.ipynb',
 'Untitled101.ipynb',
 'Untitled102.ipynb',
 'Untitled103.ipynb',
 'Untitled104.ipynb',
 'Untitled105.ipynb',
 'Untitled106.ipynb',
 'Untitled107.ipynb',
 'Untitled108.ipynb',
 'Untitled109.ipynb',
 'Untitled11.ipynb',
 'Untitled110.ipynb',
 'Untitled111.ipynb',
 'Untitled112.ipynb',
 'Untitled113.ipynb',
 'Untitled114.ipynb',
 'Untitled115.ipynb',
 'Untitled116.ipynb',

In [154]:
os.chdir("D:/Python/1. Nivel I/3/datos")

In [156]:
os.getcwd()

'D:\\Python\\1. Nivel I\\3\\datos'

In [155]:
os.listdir("D:/Python/1. Nivel I/3/datos")

['anes_timeseries_2012.dta',
 'data_BL.csv',
 'data_buscalibre',
 'data_buscalibre.csv',
 'df_concat.csv',
 'distritos.sav',
 'ElectricBus.xlsx',
 'housing.data.txt',
 'LL.csv',
 'subvenciones.csv',
 'subvenciones.json',
 'subvenciones.ods',
 'subvenciones.tsv',
 'subvenciones.xls',
 'subvenciones.xml',
 'subvenciones_agrupadas.json',
 'subvenciones_agrupadas_con_gasto.json',
 'subvenciones_df.xls',
 'subvenciones_esc.csv',
 'subvenciones_lista_total.xml',
 'subvenciones_totales.xls',
 'tabla_senal.csv']

**Excel**

In [157]:
df_excel = pd.read_excel("subvenciones.xls",
                        sheet_name="Hoja1")

In [159]:
df_excel.head(n=10)

             Asociación           Actividad Subvencionada   Importe
0  AMPA ANTONIO MACHADO          TALLER FIESTA DE CARNAVAL    94.56
1  AMPA ANTONIO MACHADO               TALLER DIA DEL PADRE    39.04
2  AMPA ANTONIO MACHADO             TALLER DIA DE LA MADRE    43.64
3  AMPA ANTONIO MACHADO                FIESTA FIN DE CURSO   921.00
4  AMPA ANTONIO MACHADO             CONCURSO LOGOTIPO AMPA    56.57
5  AMPA ANTONIO MACHADO         ASOCIACION FAPA ALCOBENDAS    80.00
6  AMPA ANTONIO MACHADO  ASOCIACION FAPA GINER DE LOS RIOS    86.79
7  AMPA ANTONIO MACHADO                  FIESTA DE NAVIDAD   660.00
8  AMPA ANTONIO MACHADO                          HALLOWEEN   168.39
9  AMPA ANTONIO MACHADO                         SAN ISIDRO   195.00

In [160]:
df_excel.tail(n=10)

,Asociación,Actividad Subvencionada,Importe
181,AMPA SAN ANTONIO,GRANJA ESCUELA,895.00
182,AMPA SAN ANTONIO,VISITA AL PARQUE DE AVENTURAS AMAZONIA,576.00
183,AMPA SAN ANTONIO,ASISTENCIA AL CIRCO MUNDIAL,630.83
184,AMPA PADRE MANYANET,FERIA DE LA SEMANA CULTURAL,800.00
185,AMPA PADRE MANYANET,BIBLIOTECA DE EDUCACION PRIMARIA DE LA APA,803.82
186,AMPA PADRE MANYANET,FERIA DE ROBOTICA,720.00
187,AMPA PADRE MANYANET,LUDOTECA FIESTA FIN DE CURSO,372.00
188,AMPA FAPA,JORNADA FAPA-APAS: ENCUENTROS DE PARTICIPACION,720.00
189,AMPA FAPA,25 ANIVERSARIO FAPA ALCOBENDAS,1515.00
190,AMPA FAPA,"REVISTA DE LA FEDERACION ""LA ESCUELA EN ALCOBE...",963.43