In [1]:
import json5
import json
import pandas as pd
import pyreadstat
import numpy as np
import os

In [2]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\olive\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: pandas>=1.2.0 in c:\users\olive\anaconda3\lib\site-packages (from pyreadstat) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\olive\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\olive\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\olive\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\olive\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\olive\anaconda3\lib\site-packages (4.0.35)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import os

In [5]:
os.getcwd()

'C:\\Users\\olive\\Ciencia de datos'

In [15]:
os.chdir("C:\\Users\\olive\\Ciencia de datos")

In [32]:
os.listdir("C:\\Users\\olive\\Ciencia de datos")

['.ipynb_checkpoints',
 'anes_timeseries_2012.dta',
 'Clase-01.ipynb',
 'data_clase_1_3',
 'data_clase_1_3.rar',
 'distritos.sav',
 'ElectricBus.xlsx',
 'housing.data.txt',
 'LL.csv',
 'nivel1_1.ipynb',
 'subvenciones.csv',
 'subvenciones.json',
 'subvenciones.ods',
 'subvenciones.tsv',
 'subvenciones.xls',
 'subvenciones.xml',
 'subvenciones_agrupadas.json',
 'subvenciones_agrupadas_con_gasto.json',
 'subvenciones_df.xls',
 'subvenciones_esc.csv',
 'subvenciones_lista_total.xml',
 'subvenciones_totales.xls',
 'Untitled.ipynb']

##  Cargando Archivos Json

### import json

In [25]:
with open("subvenciones.json", encoding = "utf-8") as fichero:
    df_json =json.load(fichero)

In [26]:
import pandas as pd

In [27]:
df_json_data = pd.DataFrame(df_json)

In [28]:
df_json_data.head

<bound method NDFrame.head of                Asociación                            Actividad Subvencionada  \
0    AMPA ANTONIO MACHADO                          TALLER FIESTA DE CARNAVAL
1    AMPA ANTONIO MACHADO                               TALLER DIA DEL PADRE
2    AMPA ANTONIO MACHADO                             TALLER DIA DE LA MADRE
3    AMPA ANTONIO MACHADO                                FIESTA FIN DE CURSO
4    AMPA ANTONIO MACHADO                             CONCURSO LOGOTIPO AMPA
..                    ...                                                ...
186  AMPA PADRE  MANYANET                                  FERIA DE ROBOTICA
187  AMPA PADRE  MANYANET                       LUDOTECA FIESTA FIN DE CURSO
188             AMPA FAPA     JORNADA FAPA-APAS: ENCUENTROS DE PARTICIPACION
189             AMPA FAPA                     25 ANIVERSARIO FAPA ALCOBENDAS
190             AMPA FAPA  REVISTA DE LA FEDERACION LA ESCUELA EN ALCOBENDAS

    Importe en euros
0              94.56
1             39.04
2             43.64
3            921.00
4             56.57
..               ...
186          720.00
187          372.00
188          720.00
189        1.515.00
190          963.43

[191 rows x 3 columns]>

# Archivos SPSS
### Cargar archivos SPSS

In [30]:
read_spss = pd.read_spss("distritos.sav")

In [31]:
read_spss.head()

     distrito  ocu_vivi  pobpjov  sinelect  sinagua  pea1619  pocprin  peam15
0         Ate      1.15      5.3     27.60    51.10      3.9      1.1   63.48
1    Barranco      1.09      4.5      1.59     8.32      0.8      3.9   33.48
2       Breña      1.08      4.4      2.20    23.15      0.9      4.0   37.89
3  Carabayllo      1.10      5.1     30.13    38.09      4.5     12.6   63.65
4       Comas      1.20      5.9     10.92    24.27      3.8      9.4   60.37

# Archivos STATA
### Cargar archivos STATA

In [35]:
df_stata = pd.read_stata("anes_timeseries_2012.dta")
df_stata.head()

,version,caseid,weight_ftf,weight_web,weight_full,psu_full,psu_ftf,strata_full,strata_ftf,ftf_oversample,...,randordq_casitherm_illegal,randordq_casitherm_white,randordq_stereogroups,randordq_discrim_black,randordq_discrim_hisp,randordq_discrim_white,randordq_discrim_gay,randordq_discrim_women,randordq_stereorelig,invited_inetrecontact2013
0,ANES2012TimeSeries_version20150528,1.0,0.3802,0.0,0.3802,1.0,1.0,6.0,6.0,0. No oversample,...,"-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-6. Not asked, unit nonresponse (no post-elect...","-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
1,ANES2012TimeSeries_version20150528,2.0,0.5470,0.0,0.5470,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,3. 3rd CASI/Web group thermometer,"231. Order: 2 (Hispanics), 3 (Asians), 1 (Blacks)",3. 3rd discrimination group,1. 1st discrimination group,5. 5th discrimination group,2. 2nd discrimination group,4. 4th discrimination group,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
2,ANES2012TimeSeries_version20150528,3.0,0.4975,0.0,0.4975,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,4. 4th CASI/Web group thermometer,"132. Order: 1 (Blacks), 3 (Asians), 2 (Hispanics)",-2. Missing,-2. Missing,-2. Missing,-2. Missing,-2. Missing,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
3,ANES2012TimeSeries_version20150528,4.0,0.2549,0.0,0.2549,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,3. 3rd CASI/Web group thermometer,"213. Order: 2 (Hispanics), 1 (Blacks), 3 (Asians)",3. 3rd discrimination group,2. 2nd discrimination group,5. 5th discrimination group,1. 1st discrimination group,4. 4th discrimination group,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"
4,ANES2012TimeSeries_version20150528,5.0,0.6028,0.0,0.6028,1.0,1.0,6.0,6.0,0. No oversample,...,5. 5th CASI/Web group thermometer,1. 1st CASI/Web group thermometer,"312. Order: 3 (Asians), 1 (Blacks), 2 (Hispanics)",-2. Missing,-2. Missing,-2. Missing,-2. Missing,-2. Missing,"-1. Inap, FTF (face-to-face) interview","-1. Inap, FTF"

# Archivos CSV
### Cargar archivos CSV

In [41]:
df_csv = pd.read_csv ("subvenciones_esc.csv", encoding = "latin1")
df_csv.head()

,Asociación,Actividad Subvencionada,Importe,Justificación requerida,Justificación recibida
0,AMPA ANTONIO MACHADO,TALLER FIESTA DE CARNAVAL,94.56,No,No
1,AMPA ANTONIO MACHADO,TALLER DIA DEL PADRE,39.04,No,No
2,AMPA ANTONIO MACHADO,TALLER DIA DE LA MADRE,43.64,No,No
3,AMPA ANTONIO MACHADO,FIESTA FIN DE CURSO,921.00,Sí,No
4,AMPA ANTONIO MACHADO,CONCURSO LOGOTIPO AMPA,56.57,No,No

In [66]:
pip install psycopg2

Collecting psycopg2Note: you may need to restart the kernel to use updated packages.

  Downloading psycopg2-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 6.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

# Conexión a bases de datos
### Crear una cadena de conexión

In [67]:
import pyodbc as pydbc ##SQL Server
import psycopg2
import pandas as pd

In [68]:
servidor = "69.164.192.245"
database = 'alumno'
usuario = 'sdc_read'
password = '#sDc_Read#21'

try:
    conexion = pydbc.connect('DRIVER={SQL Server};SERVER=' +
                               servidor+';DATABASE='+database+';UID='+usuario+';PWD=' + password)
   

    print("Conexion exitosa")
except Exception as e:
    # Atrapar error
    print("Ocurrió un error al conectar a SQL Server: ", e)

Conexion exitosa

## Paso 2: Realizar la consulta SQL  a la Base de Datos

In [69]:
consulta= pd.read_sql_query("SELECT * from student.clientes", conexion)
consulta.head()

C:\Users\olive\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,idCliente,NombreCompañia,NombreContacto,CargoContacto,Direccion,Ciudad,Region,CodPostal,Pais,Telefono,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Representante de ventas,Obere Str. 57,Berlín,None,12209,Alemania,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Propietario,Avda. de la Constitución 2222,México D.F.,None,05021,México,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Propietario,Mataderos 2312,México D.F.,None,05023,México,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Representante de ventas,120 Hanover Sq.,Londres,None,WA1 1DP,Reino Unido,(71) 555-7788,(71) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Administrador de pedidos,Berguvsvägen 8,Luleå,None,S-958 22,Suecia,0921-12 34 65,0921-12 34 67

conexion.close()

## Conexion PostgreSQL

In [85]:
import psycopg2 as psycopg2

In [86]:
servidor = "69.164.192.245"
database = 'alumno'
usuario = 'sdc_read'
password = '#sDc_Read#21'

try:
    conexion = psycopg2.connect("dbname=alumno user=postgres password=sdc2019PERU host=69.164.192.245")
   

    print("Conexion exitosa")
except Exception as e:
    # Atrapar error
    print("Ocurrió un error al conectar a SQL Server: ", e)

Conexion exitosa

In [87]:
##conexion = psycopg2.connect("dbname=alumno user=postgres password=sdc2019PERU host=69.164.192.245")

In [88]:
df_postgreSQL= pd.read_sql_query("SELECT * FROM BOOKS", conexion)
df_postgreSQL.head()

C:\Users\olive\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,nombre,autor,precio_anterior,precio_posterior
0,Big Data,Dawn E. Holmes,"S/ 117,98","S/ 82,58"
1,Big Data Para Directivos,Genis Roca,"S/ 113,05","S/ 79,14"
2,"Big Data: La Utilización del big Data, el Anál...",Bernard Marr,"S/ 166,14","S/ 116,30"
3,Data Strategy: Como Beneficiarse de un Mundo d...,Bernard Marr,"S/ 118,42","S/ 82,89"
4,"Big Data, el Poder de los Datos",Bill Schmarzo,"S/ 186,11","S/ 130,27"

In [90]:
conexion.close()